<!--<pre>-->

<h2>Error <?php echo $error['code']; ?> </h2>
    <?php echo $error['message']; ?>.<br />
<!--<b>In file: </b><?php echo $error['file']; ?> <b>on line: </b><?php echo $error['line']; ?>


</pre>-->

