<!---->
<?php //var_dump($this); ?>
        <center>
<!--<b>In file: </b><?php echo $error['file']; ?> <b>on line: </b><?php echo $error['line']; ?>

<pre><?//= print_r($this,1) ?></pre>
-->


           <h2 class="title">Error <?php echo $error['code']; ?> </h2>
            <?php echo $error['message']; ?>.<br />
        </center>






