<?php //echo '<pre>' . print_r($user, 1) . '</pre>'; 
?>

<b>Login:</b>&nbsp;<?= $user['login'] ?><br />
<b>Data Utworzenia:</b>&nbsp;<?= $user['data_dodania']; ?><br />

<form class="form-horizontal" action="<?= URL; ?>/profil/edycja" method="post">
    <input type="hidden" name="id" value="<?= $user['id']; ?>"/>
    <div class="form-group" >
        <label class="col-sm-3 control-label" for="pass">Zmień hasło:</label>       
        
        <div class="col-sm-6 ">
            <input class="" type="checkbox" name="chPass" id="chPass" value="" style="height: 27px" />
            
        </div>
    </div>
    <div class="form-group" id="pass" style="display: none">
        <label class="col-sm-3 control-label" for="password">Hasło:</label>       
        
        <div class="col-sm-6 ">
            <input class="form-control" type="text" name="password" id="password" value=""  />
            
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="fname">Imię:</label>       
        
        <div class="col-sm-6 ">
            <input class="form-control" type="text" name="fname" id="fname" value="<?= $user['imie']; ?>"  />
            
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="lname">Nazwisko:</label> 
        <div class="col-sm-6 ">

            <input class="form-control" type="text" name="lname" id="lname" value="<?= $user['nazwisko']; ?>"  />
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-3 control-label" for="email">E-mail:</label>
        <div class="col-sm-6">
            <input class="form-control" type="text" name="email" id="email" value="<?= $user['email']; ?>"  />
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-3 control-label" for="display_name">Wyświetlana nazwa:</label>       
        
        <div class="col-sm-6 ">
            <input class="form-control" type="text" name="display_name" id="display_name" value="<?= $user['display_name']; ?>"  />
            
        </div>
    </div>
    <div class="">
        <label class="sr-only"></label>
        <input class="btn btn-default" type="submit" name="submit" value="Zapisz"  />
        
    </div>
</form>

<script>
    $('#chPass').click(function(){
        if($(this).prop('checked') === true)
        {
            $('#pass').show();
        } else if($(this).prop('checked') === false)
        {
            $('#pass').hide();
        }
    });
</script>