<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Slider <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="glyphicon glyphicon-film"></i> Slider
            </li>
        </ol>
    </div>
</div>

<div id="slider-zoom-img" style="display: none">
    <img src="" />
</div>
<div class="alert alert-info">
    Uwaga: <br />
    Aby zmienić kolejność przeciągnij dany slider w górę lub dół.<br />
    Wymiary obrazów do slidera: <br />
    -szerokość: 900px<br /> 
    -wysokość: 400px
</div>

<div class="sliders" style="">
    
<div class="panel panel-default" style="">
    <div class="panel-heading">Dodaj nowy Slider</div>
    <div class="panel-body">
        <form action="<?=URL;?>/admin/slider/new" method="post" enctype="multipart/form-data" style="">
            <div class="form-group">
                <label>Obraz</label>
                <input type="file" class="form-control" name="files" style="height: auto" required />
            </div>
            <div class="form-group">
                <label>Tytuł</label>
                <input type="text" name="title" class="form-control" style="" required />
            </div>
            <div class="form-group">
                <label>Opis</label>
                <input type="text" name="description" class="form-control" style="" />
            </div>
            <input type="submit" class="btn btn-primary" name="submit" value="Dodaj" />
        </form>
        
        
    </div>
</div>

<div class="panel panel-default" style="">
    <div class="panel-body">
        
        <ul class="" id="sortable" style="padding-left: 0;">
            
        
        <?php foreach($slider as $k => $v): ?>
            <li class="sort-slider" style="" id="<?=$v['id'];?>" style="">
                
                <form action="<?=URL?>/admin/slider/edit" method="post">
                    <div style="float:left;padding:5px;" id="image">
                        <img src="<?= URL . '/img/upload/' . $v['file']; ?>" id="img" name="img"  style="max-width: 160px;max-height: 150px;" /><br />
                        
                        <input type="hidden" value="<?= $v['id']; ?>" name="ids"  />
                        <a href="#" class="edit_id_img" id="<?=$v['id'];?>" >Edytuj</a>
                    </div>
                    <div class="edSliSr" style="float:left;padding:5px; ">

                        <div class="form-group">
                            <input class="form-control" placeholder="Tytuł" name="title" value="<?= $v['title']; ?>"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control noresize" placeholder="Opis" name="description" ><?= $v['description']; ?></textarea>
                        </div>

                    </div>
                    <div style="padding:5px;float:left">
                        <input type="submit" name="submit" class="btn btn-default btn-sm" value="Zapisz" />
                        <a href="<?= URL . '/admin/slider/delete/' . $v['id']; ?>" class="btn btn-danger btn-sm"  >Usuń</a>
                    </div>
                    
                </form>
                
                <div class="clearfix"></div>
            </li>
        
        
        <?php endforeach; ?>
        </ul>
    </div>
</div>

</div>




<div class="modal fade" tabindex="-1" role="dialog" id="imgModal" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document" style="width:50% !important;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                <ul id="tabs" class="nav nav-tabs page-tabs" data-tabs="tabs" style="margin-bottom: -2px;padding-bottom: 0px;margin-bottom:-1px">
                    
                    <li class=""><a href="#nowy" data-toggle="tab"> Dodaj Nowy plik</a></li>
                    <li ><a href="#wybierz" data-toggle="tab"> Wybierz z dostepnych</a></li>

                </ul>
            </div>
         
            <div class="modal-body">
                


                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="index">
                        <p>&nbsp;</p>
                        Tutaj mozesz wybrać inny obrazek lub dodać nowy.
                    </div>
                    <div class="tab-pane " id="nowy" style="">
                        
                        <p>&nbsp;</p>
                        <form action="<?=URL?>/admin/slider/images" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Dodaj plik</label>
                                <input type="file" class="form-control" name="files" style="height: auto;" />
                                <input type="hidden" name="id" id="idm" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="btn-save" name="submit" value="Dodaj">Dodaj</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="tab-pane" id="wybierz" style="">
                        <p>&nbsp;</p>
                        <form action="<?=URL?>/admin/slider/images" method="post">
                            <div>
                                <input type="hidden" name="id" id="idm" />
                                <label>Wybierz obraz</label><br />
                                <?php 

                                $dirname = ROOTPATH . "public/img/upload";
                                $images = scandir($dirname);


                                foreach($images as $v ){ 

                                    if(is_file($dirname . '/' . $v)):
                               ?>
                            <div style="float:left">
                                <label class="mod">
                                    <input type="radio" name="img" value="<?=$v;?>" />
                                    <img src="<?= URL . '/img/upload/' . $v; ?>">
                                </label><br />
                                <?= $v; ?>
                            </div>
                                    <?php 

                                        endif;
                                    }
                                    ?>

                                <div class="clearfix"></div>
                            </div>
                            <div class="modal-footer" style="margin-top:10px;border-top:1px solid #222 ">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="btn-del" name="submit" value="Delete">Usuń zaznaczony plik</button>
                                <button type="submit" class="btn btn-primary" id="btn-save" name="submit" value="Zapisz">Zapisz</button>
                            </div>   
                        </form>
                    </div>
                </div>
                
                
                
            </div>
            
        
        </div><!-- /.modal-content -->
    </div>
  
</div>



<script>
    $('#image a').click(function(e){
        var id = $(this).attr('id');
        var modal = $('#imgModal');
        e.preventDefault();
        modal.modal('show');
        modal.find('input#idm').val(id);
    });
    $('#image img').mouseenter()(function(){
//        var src = $(this).attr('src');
//        $(this).css('cursor','move');
//        
//        $('#slider-zoom-img').show();
//        $('#slider-zoom-img img').attr('src',src);
//        
    });
    $('#image img').mouseleave(function(){
        
        $('#slider-zoom-img').hide();
        
    });
	
</script>
<script>
	$('#btn-del').click(function(e){
		e.preventDefault();
        var vals = $(this).parent().parent().find('input[type="radio"]:checked');
        $.ajax({
            url: "<?= URL; ?>/admin/slider/delimg",
            type: "post",
            data: { path: vals.val() },
            success: function(response){
                $(vals).parent().parent().remove();
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( "#sortable" ).sortable({
        cursor: 'move',
        items: '>li',
        axis: 'y',
        
        update: function(event, ui) {
            var x = 1;
            
            $('li.sort-slider').each(function(){
                var id = $(this).attr('id');
               // alert(id);
                $.post(
                    "<?=URL;?>/admin/slider/order",
                    {
                        submit: 'yes',
                        id: id,
                        orders: x
                    }
                );
                x++;
            });
        }
    });
</script>