<div class="row">
    <div class="col-lg-12">
        <h2 class="page-header">Menu <small></small></h2>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="fa fa-list"></i> Menu
            </li>
        </ol>
    </div>
</div>

<div class="" style="width:100%;background-color: #f1f1f1;margin-bottom: 20px;">
    <div class="panel-body">
    <form action="<?=URL . $this->url('admin', array('controller' => 'menu', 'action' => 'edit')) ;?>" method="post" style="">
        <div>
            <i>Wybierz menu do edycji</i> 
            <select name="menu" style="width:auto;height: 30px;">
                <option value="">Wybierz</option>
                <?php foreach($men as $k => $v): ?>
                <option value="<?= $v['id']; ?>" <?php if($menus['id'] == $v['id']){ echo 'selected'; } ?> >
                <?= $v['name']; ?> 
                    
                    <?php 
                    //echo '<pre>' . print_r($blocks,1).'</pre>';
                    
                    $mm = array();
                    foreach($blocks as $c => $b){
                        
                        if($v['id'] == $b['menu_id'])
                        {
                            
                            $mm[] = $b['name']; 
                            
                        } 
                    }
                    
                    //$mm .= ')';
                    if(count($mm) > 0)
                    {
                        $mm = implode(',', $mm);
                        $mm = '(' . $mm . ')';
                        echo $mm;
                    }
                    
                    ?>
                </option>
                <?php endforeach; ?>
            </select>
            
            <input type="submit" name="submit" value="Wybierz" class="btn btn-default btn-sm" />
            <a href="<?=URL;?>/admin/menu/edit">Utwórz nowe Menu</a>
        </div>
        
        
    </form>
    </div>
</div>
    
        <div class="kolumna" id="links" style="" >
            <form action="<?= URL . $this->url('admin', array('controller' => 'menu', 'action' => 'addLink', 'param' => $menus['id'])); ?>" method="post">
            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                
                <div class="panel panel-default">
                    <div class="panel-heading head-cont" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                        <h4 class="panel-title">Strony</h4>
                    </div>
                    <div id="collapseOne" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" style="">
                            <ul class="sort" >
                                
                                <?php foreach($pages as $k => $v): ?>
                                <li style="padding: 5px;background-color: #e7e7e7;" >
                                    <input type="checkbox" name="pages[<?= $v['id']; ?>]" id="<?= $v['id']; ?>" value="<?= $v['title']; ?>;<?= $v['name']; ?>" /> <?= $v['title']; ?>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                            <input type="submit" style="" name="submit" value="Dodaj" class="btn btn-default" >
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading head-cont" role="tab" id="headingOne" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        <h4 class="panel-title">Blog</h4>
                    </div>
                    <div id="collapseTwo" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingOne">
                        <div class="panel-body" style="">
                            <ul class="sort" >
                                <?php foreach($blog as $k => $v): ?>
                                <li style="padding: 5px;background-color: #e7e7e7;" >
                                    <input type="checkbox" name="pages[<?= $v['id']; ?>]" id="<?= $v['id']; ?>" value="<?= $v['title']; ?>;<?= $v['name']; ?>" /> <?= $v['title']; ?>
                                </li>
                                <?php endforeach; ?>
                            </ul>
                            <input type="submit" style="" name="submit" value="Dodaj" class="btn btn-default" >
                        </div>
                    </div>
                </div>
                <div class="panel panel-default">
                    <div class="panel-heading head-cont" role="tab" id="headingTwo" data-toggle="collapse" data-parent="#accordion" href="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
                        <h4 class="panel-title">Własne</h4>
                    </div>
                    <div id="collapseThree" class="panel-collapse collapse " role="tabpanel" aria-labelledby="headingTwo">
                        <div class="panel-body" >
                            <label>Własny odnośnik</label><br />
                            
                            <div class="">
                                <i class="">URL</i> 
                                <input type="text" id="ttrt" name="wlasny[url]" value="http://" class="form-control" style="" /><br />
                            </div>  
                            <div class="">
                                <i class="">Etykieta</i> 
                                <input type="text" id="ttrt" name="wlasny[etykieta]" value="" class="form-control" style="" /><br />
                            </div> 
                            <div class="">
                                <i class="">Cel</i> 
                                <select class="form-control" name="wlasny[target]" id="ttrt">
                                    <option value="">Żaden</option>
                                    <option value="_blank">Nowe okno</option>
                                </select>
                                
                            </div> 
                            <br>
                            <input type="submit" style="" name="submit" value="Dodaj" class="btn btn-default" >
                        </div>
                    </div>
                </div>
            
            </div>
            </form>
        </div>

<?php if(!empty($menus)) { ?>
    
        <div class="kolumna  panel panel-default" style="" id="details">
            <form action="<?=URL;?>/admin/menu/updMenu/<?= $menus['id']; ?>" method="post">
            <div class="panel-heading">
                Nazwa menu: <input type="text" name="menu_name" value="<?= $menus['name'] ?>" />
                <input type="submit" name="submit" style="" class="btn btn-sm btn-primary btnRight" value="Zapisz menu" />
            </div>
            <ul class="sort" id="sortable" style="width:100%">
                <?php foreach($links as $k => $link): ?>
                <li class="menu-cc" id="<?=$link['id'];?>" sort="<?= $link['ordering']; ?>" style="width: auto;height:auto;" >
                    <div id="titl" style="width: 100%">
                    <div style="float:left" id="titles"><?=$link['name'];?></div>

                    <div class="clearfix" style="">
                        
                        <a href="#menu-edit-<?=$link['id'];?>" type="button" id="menu-edit" class="fa fa-caret-down" style="width:30px;height: 20px;float:right;text-align: center"></a>
                    </div>
                    </div>
                    
                    <div class="" id="menu-edit-<?=$link['id'];?>" style="display: none;background-color: #e7e7e7;" >
                        <div class="panel-body" id="<?=$link['id'];?>">
                            
                                <?php if($link['type'] == 'page'){ ?>
                            <div>    
                                <i>Etykieta</i>
                                <input type="text" class="form-control" name="links[<?= $link['id']; ?>]" id="txtEtykieta" value="<?= $link['name']; ?>"  />
                            </div>     
                            
                            <div>    
                                <i>Nazwa odnośnika</i>
                                <input type="text" class="form-control" name="links[<?= $link['id']; ?>]" id="txtSlug" value="<?= $link['post_slug']; ?>" disabled />
                            </div>
                                <?php } else { ?>
                            <div class="">
                                <i class="">URL</i> 
                                <input type="text" id="ttrt" name="links[<?= $link['id']; ?>][url]"  class="form-control" value="<?= $link['url']; ?>" /><br />
                            </div>  
                            <div class="">
                                <i class="">Etykieta</i> 
                                <input type="text" id="ttrt" name="links[<?= $link['id']; ?>][title]" id="txtEtykieta" class="form-control" value="<?= $link['name']; ?>" /><br />
                            </div> 
                            <div class="">
                                <i class="">Cel</i> 
                                <select class="form-control" name="links[<?= $link['id']; ?>][target]" id="ttrt">
                                    <option value="" <?php if(empty($link['target'])) { echo 'selected'; } ?>>Żaden</option>
                                    <option value="_blank" <?php if($link['target'] == '_blank') { echo 'selected'; } ?> >Nowe okno</option>
                                </select>
                                
                            </div>
                            <input type="hidden" name="links[<?= $link['id']; ?>][type]" value="<?=$link['type'];?>" />
                                <?php } ?>
                            
                            <div>
                                <hr>
                                <a href="#gora" class="my-button-up">W górę</a> | <a href="#dol" class="my-button-down">W dół</a>
                            </div>
                            <div>
                                <hr>
                                <a href="#delete-<?=$link['id'];?>" class="delLink" id="<?=$link['id'];?>" style="color: red;">Usuń</a> | <a href="#" id="editCancel">Anuluj</a>
                            </div>
                        </div>
                        
                    </div>
                </li>                
                <?php endforeach; ?>
            </ul>
            
            <div class="panel-body">
                <hr />
                <div class="form-group">
                    <label for="" class="col-sm-2 control-label" style="width: auto !important;">Położenie menu</label>
                    <div class="col-sm-5" style="width: auto !important;">
                        <?php foreach($blocks as $k => $block): ?>
                        
                        <input type="checkbox" name="block[<?= $block['id']; ?>]" value="<?= $menus['id']; ?>" <?php if($block['menu_id'] == $menus['id']){ echo 'checked'; } ?> > <?= $block['name']; ?> 
                            <?php foreach($men as $l => $p){ if($block['menu_id'] == $p['id'] && $block['menu_id'] != $menus['id']) { echo '<small style="color:grey"><i>Obecnie: ' . $p['name'].'</i></small>'; } } ?><br />
                        <?php endforeach; ?>
                    </div>
                </div>
                
            </div>
            <div class="panel-footer" style="height:50px;">
                <a href="<?=URL . $this->url('admin', array('controller' => 'menu', 'action' => 'delete','param'=>$menus['id']));?>" style="color: red">Usuń menu</a>
                <input type="submit" style="float:right" class="btn btn-primary btn-sm" name="submit" value="Zapisz menu" />
            </div>
            </form>
        </div>
    
    <?php } else { ?>

<!-- CREATE MENU -->
    <form action="<?=URL;?>/admin/menu/new" method="post">
        <div class="kolumna  panel panel-default" id="details" style="">
            
            <div class="panel-heading">
                Nazwa menu: <input type="text" name="name" value="" style="" />
                <input type="submit" name="submit" style="" class="btn btn-sm btn-primary btnRight" value="Utwórz menu" />
            </div>
            
            
            <div class="panel-body">
                Wprowadź nazwę menu i kliknij przycisk „Utwórz menu”.
                
            </div>
            <div class="panel-footer" style="height:50px;">
                
                <input type="submit" style="float:right" class="btn btn-primary btn-sm" name="submit" value="Utwórz menu" />
            </div>
            
        </div>
    </form>
<script>
    $('#links input').each(function(){
        $('#links').css('opacity','0.2');
        $(this).prop('disabled', true);
    });
    
    
</script>

    <?php } ?>
<script>
    
        $('input#txtEtykieta').keyup(function(){
            var pp = $(this).val();
            $(this).parent(this).parent(this).parent(this).parent(this).find('#titles').text(pp);
        });
    
    
</script>
<script>
    $('.delLink').click(function(e){
        var href = $(this).attr('href');
        var id = $(this).attr('id');
        e.preventDefault();
        $.get(
            "<?=URL;?>/admin/menu/delLink/" + id,
            {}
        );
        $(this).parent(this).parent(this).parent(this).parent(this).remove();
    });
</script>
<script>
    $('.head-cont').mouseenter(function(){
        $(this).css( 'cursor', 'pointer' );
    });
    
    $('.menu-cc div#titl').mouseenter(function(){
        $(this).css( 'cursor', 'move' );
        //$(this).css( 'border', '1px solid #555d66' );
    });
    
    $('a#menu-edit').click(function(event){
        event.preventDefault();
        var href = $(this).attr('href');
        $(href).slideToggle(200);
        if($(this).hasClass('fa-caret-down'))
        {
            $(this).removeClass('fa-caret-down').addClass('fa-caret-up');
        } else if($(this).hasClass('fa-caret-up'))
        {
            $(this).removeClass('fa-caret-up').addClass('fa-caret-down');
        }
        
    });
    
//    $('input#txtEtykieta').on('change',function(e){
//        var title = $(this).val();
//        var id = $(this).parent(this).parent(this).attr('id');
//        $.post(
//            "<?=URL;?>/admin/menu/editing",
//            {
//                submit: 'yes',
//                id: id,
//                title: title
//            }
//        );
//    });
    
    $('a#editCancel').click(function(){
        
    });
</script>
<script>
    $('.my-button-up').click(function(e){
        e.preventDefault();
        var current = $(this).closest('li');
        current.prev().before(current);
        var x = 1;
        $('.menu-cc').each(function(){
            var id = $(this).attr('id');
               // alert(id);
            $.post(
                "<?=URL;?>/admin/menu/editing",
                {
                    submit: 'yes',
                    id: id,
                    orders: x
                }
            );
            x++;
        });
    });
    $('.my-button-down').click(function(e){
        e.preventDefault();
        var current = $(this).closest('li');
        current.next().after(current);
        
        var x = 1;
        $('.menu-cc').each(function(){
            var id = $(this).attr('id');
               // alert(id);
            $.post(
                "<?=URL;?>/admin/menu/editing",
                {
                    submit: 'yes',
                    id: id,
                    orders: x
                }
            );
            x++;
        });
    });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( "#sortable" ).sortable({
        cursor: 'move',
        items: '>li',
        handle: 'div#titl',
        axis:'y',
        deactivate: function(event, ui) {
            ui.item.attr('style','width: auto;height:auto;');
        },
        update: function(event, ui) {
            var x = 1;
            
            $('.menu-cc').each(function(){
                var id = $(this).attr('id');
               // alert(id);
                $.post(
                    "<?=URL;?>/admin/menu/editing",
                    {
                        submit: 'yes',
                        id: id,
                        orders: x
                    }
                );
                x++;
            });
        }
    });
</script>
