<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Front Panel <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="glyphicon glyphicon-modal-window"></i> Panel
            </li>
        </ol>
    </div>
</div>


<div style="width: 100%;display:flex">
    <div style="width: 300px;padding: 10px;float:left;margin-right: 30px">
        <form action="<?= URL; ?>/admin/panel/new" method="post" enctype="multipart/form-data">
            <div class="form-group">
                <label>Tytuł</label>
                <input class="form-control" type="text" name="title" required />
            </div>
            <div class="form-group">
                <label>Obraz</label>
                <input class="form-control" style="height: auto" type="file" name="files" required />
            </div>
            <div class="form-group">
                <label>Text</label>
                <textarea class="form-control" style="resize: vertical;max-height: 300px" name="text"  ></textarea>
            </div>
            <div class="form-group">
                <input class="btn btn-primary btn-sm" type="submit" name="submit" value="Dodaj" />
            </div>
        </form>
    </div>

    <div style="padding: 10px;margin-left:30px;width:100%;max-width:800px">
    
    
        <ul id="sortable" style="list-style: none;padding-left: 0px;">
            <?php foreach($panel as $k => $v): ?>
            <li class="sort-slider" style="" id="<?=$v['id'];?>" style="">
                
                <form action="<?=URL?>/admin/panel/edit/<?= $v['id']; ?>" method="post" style="display:flex;">
                    <div style="padding:5px;" id="image">
                        <?php if(!file_exists(ROOTPATH . 'public/img/upload/' . $v['image'])){ $v['image'] = '../noimage.png'; } ?>
                        <img src="<?= URL . '/img/upload/' . $v['image']; ?>" id="img" name="image"  style="max-width: 160px;max-height: 150px;" /><br />
                        
                        <input type="hidden" value="<?= $v['id']; ?>" name="id"  />
                        <a href="#" class="edit_id_img" id="<?=$v['id'];?>" >Edytuj</a>
                    </div>
                    <div style="padding:5px; width:100%">

                        <div class="form-group">
                            <input class="form-control" placeholder="Tytuł" name="title" value="<?= $v['title']; ?>"/>
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" style="min-height: 120px;height:auto;max-height: 200px;resize: vertical;" placeholder="Opis" name="text" ><?= $v['text']; ?></textarea>
                        </div>
                        <div>
                            <div style="float:left">
                                <a href="#gora" class="my-button-up"><span class="glyphicon glyphicon-arrow-up"></span></a> | <a href="#dol" class="my-button-down"><span class="glyphicon glyphicon-arrow-down"></span></a>
                            </div>
                            
                            <div style="float:right">
                                <input type="submit" name="submit" class="btn btn-default btn-sm" value="Zapisz" />
                            
                                <a href="<?= URL . '/admin/panel/delete/' . $v['id']; ?>" class="btn btn-danger btn-sm"  >Usuń</a>
                            </div>
                            
                        </div>
                    </div>
                    
                    
                </form>
                
                
            </li>
        
        
        <?php endforeach; ?>
        </ul>
    
    </div>

</div>

<!-- ###################### -----MODAL------ -->
<div class="modal fade" tabindex="-1" role="dialog" id="imgModal" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document" style="width:50% !important;">
        <div class="modal-content">
            <div class="modal-header" style="padding-bottom: 0">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
                <ul id="tabs" class="nav nav-tabs page-tabs" data-tabs="tabs" style="margin-bottom: -2px;padding-bottom: 0px;margin-bottom:-1px">
                    
                    <li class=""><a href="#nowy" data-toggle="tab"> Dodaj Nowy plik</a></li>
                    <li ><a href="#wybierz" data-toggle="tab"> Wybierz z dostepnych</a></li>

                </ul>
            </div>
         
            <div class="modal-body">
                


                <div id="my-tab-content" class="tab-content">
                    <div class="tab-pane active" id="index">
                        <p>&nbsp;</p>
                        Tutaj mozesz wybrać inny obrazek lub dodać nowy.
                    </div>
                    <div class="tab-pane " id="nowy" style="">
                        
                        <p>&nbsp;</p>
                        <form action="<?=URL?>/admin/panel/images" method="post" enctype="multipart/form-data">
                            <div class="form-group">
                                <label>Dodaj plik</label>
                                <input type="file" class="form-control" name="files" style="height: auto;" />
                                <input type="hidden" name="id" id="idm" />
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="submit" class="btn btn-primary" id="btn-save" name="submit" value="Dodaj">Dodaj</button>
                            </div>
                        </form>
                    </div>
                    
                    <div class="tab-pane" id="wybierz" style="">
                        <p>&nbsp;</p>
                        <form action="<?=URL?>/admin/panel/images" method="post">
                            <div>
                                <input type="hidden" name="id" id="idm" />
                                <label>Wybierz obraz</label><br />
                                <?php 

                                $dirname = ROOTPATH . "public/img/upload";
                                $images = scandir($dirname);


                                foreach($images as $v ){ 

                                    if(is_file($dirname . '/' . $v)):
                               ?>
								<div style="float:left;">
                                <label class="mod">
                                    <input type="radio" name="img" value="<?=$v;?>" />
                                    <img src="<?= URL . '/img/upload/' . $v; ?>">
                                </label><br />
								<?= $v; ?>
								</div>
                                    <?php 

                                        endif;
                                    }
                                    ?>

								<div class="clearfix"></div>
                            </div>
                            <div class="modal-footer" style="margin-top:10px;border-top:1px solid #000 ">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button type="button" class="btn btn-danger" id="btn-del" >Usuń zaznaczony plik</button>
                                <button type="submit" class="btn btn-primary" id="btn-save" name="submit" value="Zapisz">Zapisz</button>
                            </div>   
                        </form>
                    </div>
                </div>
                
                
                
            </div>
            
        
        </div><!-- /.modal-content -->
    </div>
  
</div>
<!-- END MODAL -->
<script>
    
</script>
<script>
    $('#image a').click(function(e){
        var id = $(this).attr('id');
        var modal = $('#imgModal');
        e.preventDefault();
        modal.modal('show');
        modal.find('input#idm').val(id);
    });
    $('#btn-del').click(function(e){
		e.preventDefault();
        var vals = $(this).parent().parent().find('input[type="radio"]:checked');
        $.ajax({
            url: "<?= URL; ?>/admin/panel/delimg",
            type: "post",
            data: { path: vals.val() },
            success: function(response){
                $(vals).parent().parent().remove();
            }
        });
    });
</script>
<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script>
    $( "#sortable" ).sortable({
        cursor: 'move',
        items: '>li',

        axis:'y',
        
        update: function(event, ui) {
            var x = 1;
            
            $('li.sort-slider').each(function(){
                var id = $(this).attr('id');
                alert(id);
                $.post(
                    "<?=URL;?>/admin/panel/order",
                    {
                        submit: 'yes',
                        id: id,
                        orders: x
                    }
                );
                x++;
            });
        }
    });
</script>
<script>
    $('.my-button-up').click(function(e){
        e.preventDefault();
        var current = $(this).closest('li');
        current.prev().before(current);
        var x = 1;
        $('li.sort-slider').each(function(){
            var id = $(this).attr('id');
               // alert(id);
            $.post(
                "<?=URL;?>/admin/panel/order",
                {
                    submit: 'yes',
                    id: id,
                    orders: x
                }
            );
            x++;
        });
    });
    $('.my-button-down').click(function(e){
        e.preventDefault();
        var current = $(this).closest('li');
        current.next().after(current);
        
        var x = 1;
        $('li.sort-slider').each(function(){
            var id = $(this).attr('id');
               // alert(id);
            $.post(
                "<?=URL;?>/admin/panel/order",
                {
                    submit: 'yes',
                    id: id,
                    orders: x
                }
            );
            x++;
        });
    });
</script>