/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0b1 | 201101 
   NOTE: WORK IN PROGRESS
   USE WITH CAUTION AND TEST WITH ABANDON */

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}

/* remember to define visible focus styles! 
:focus {
	outline: ?????;
} */

/* remember to highlight inserts somehow! */
ins {
	text-decoration: none;
}
del {
	text-decoration: line-through;
}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

/*! HTML5 Boilerplate v5.0 | MIT License | http://h5bp.com/ */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
    font-family: Calibri, sans-serif;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #1b6d85;
}

textarea {
    resize: vertical;
}

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

body
{
	background-color: #d7d7d7 !important;
	margin: 0 auto !important;
	/*overflow: hidden; */
	position: relative !important;
}

.content-wrapper .col-left, 
.col-right{
	float: left;
}

.menu-bar{
		
	background-color: rgb(110,60,60);
	box-shadow: 0px 5px 5px black;
	position: relative;
	box-sizing: border-box;
	height: 100px;
	/*z-index: 1; */	
}

.horizontal-menu img
{
	padding: 15px;
	display: table-row-group;
}

.col-left
{
  /*width: 25%; */
  width: 250px;
  background-color: #c6c6c6;
  display: block;
  float: left;
}

.horizontal-menu .col-left{
	background-color: rgb(110,60,60);
}

.col-center{
	width: auto;
}

.col-center#page-content{
    width: 84%;
    height: auto;
    float: left;
    position: relative;	
}

.centered-content{
	
	position: static;
	width: 1600px;
	margin: 0 auto;
	height:	auto;
	/*background: yellow; */	
}

.element
{
    max-height: 100%;
    float: left;
    list-style: none;
    border-right: solid 1px #848484;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
    display: block;
}

/*li a[class~="disabled"]
{
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
	color: grey !important;
} */

li[class~="disabled"] a
{
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
	color: grey !important;
} 

.separatorRow 
{
	font-color: #5f5f5f;
	font-weight: bold !important;
}

.btnAdd
{
	padding: 0px 10px;
	border-radius: 10px;
	border:  solid 1px #fff;
	text-decoration:none;
	text-transform:uppercase;
	background-color: #C3C2C2;
	padding-top: 1px;
	box-shadow: 0 4px 3px grey;
	margin-left: 26px;
	cursor: pointer;
}
.btnAdd:hover
{
	color: #ffffff;
	box-shadow: 0 4px 3px grey;
}
.btnAdd:active
{
	color: #ffffff;
	box-shadow: 0 1px 3px grey;
	padding-bottom: 1px;
	padding-top: 0px;
}

.btnErr
{
	padding: 0px 10px;
	border-radius: 10px;
	border:  solid 1px #fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 14px;
	line-height: 16px;
	font-weight:100;
	color: #ffffff;
	background-color: #C3C2C2;
	padding-top: 1px;
	box-shadow: 0 4px 3px grey;
	position: relative;
	left: 50%;
	margin-left: -106px;
}
.btnErr:hover
{
	color: #ffffff;
	box-shadow: 0 4px 3px grey;
}
.btnErr:active
{
	color: #ffffff;
	box-shadow: 0 1px 3px grey;
	padding-bottom: 1px;
	padding-top: 0px;
}
/*-------*/
.errLarge
{
	padding: 10px 20px;
	margin: 70px 160px;
	color:rgb(110, 60, 60);
	font-size: 36px;
	line-height: 38px;
	text-align:center;
	border-radius: 10px;
	border:  solid 1px rgb(110, 60, 60);
}
.pLarge
{
	padding: 10px 20px;
	margin: 70px 160px 0px 160px;
	color:rgb(110, 60, 60);
	font-size: 36px;
	line-height: 38px;
	text-align:center;
}

.errSmall
{
	color:rgb(110, 60, 60);
	font-size: 12px;
	line-height: 14px;
	text-align:center;
	text-indent: 20px;
}
.errSmall:before
{
	content:'*';
}

.horizontal-spacer-s{
	display: block !important;
    margin: 10px 0px;
}

.horizontal-spacer-m{
	display: block !important;
    margin: 20px 0px;
}

.horizontal-spacer-l{
	display: block !important;
    margin: 40px 0px;
}
/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 35em) {

}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {

}

/* ==========================================================================
   Helper classes
   ========================================================================== */

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}
.invisible {
    visibility: hidden;
}
.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
    
}