/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-17, 08:33:43
    Author     : ptarkowski
*/

body {
    background-color: #fff !important;
    background-image: none !important;
}

#editContent img {
    max-width: 90%;
}