
html {
    position: relative;
    height: 100%;
}

body {
    background-color: #000;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    /*font-family: Tahoma,Verdana,Segoe,sans-serif; 
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;*/
    line-height: 1.42857143;
    color: #fff;
    margin: 0;
    
    letter-spacing: 1px;
    height: 100%;
    
}

a {
    color: #286090;
    font-weight: bold;
    text-decoration: none;
}

a:hover {
    color: #122b40;
}

.layout {
    bottom:0px;
    
    background: url('../img/test2.jpg') repeat fixed;
}

footer {
    
}


header {
    height: 80px;
    width: 100%;
}

#content {
    width: 100%;
    margin: 20px 0 20px 0;
    min-height: 500px;
}


footer {
    width:100%;
    height: auto;
    border-top: 1px solid #555;
    background-color: #00121b;
    padding: 20px 0 0 0;
    margin: 20px 0 0 0;
    bottom: 0px;
    color: #ccc;
    
}

.footer-bottom a {
    color: #286090;
    
    font-weight: bold;
    text-decoration: none;
    letter-spacing: 2px;
    
        
}

.footer-bottom a:hover {
    text-decoration: underline;
}

.footer {
    padding: 0;;
    margin: auto;
    width: 800px;
}

.footer-top {
    background-color: #00121b;
    padding: 0;
    margin: auto;
    width: 100%;
    height: 100%;
    
}

.footer-bottom {
    background-color: #000;
    text-align: center;
    color:#ccc;
    padding: 10px 0 50px 0;
    margin:auto;
    font-size: 15px;
    bottom:0;
    
}

.box ul {
    padding: 0;
    margin: 0;
    list-style: none;
    position: relative;
    display: block;
}

.box ul li {
    display: block;
}

.box ul li:first-child a {
    border-top: 1px solid #555;
    border-color: rgba(255,255,255,0.15);
}

.box ul li a:hover {
    background-color: #1f1f21;
    background-color: rgba(255,255,255,0.05);
    text-decoration: none;
    
    border-bottom-style: solid;
}

.box ul li a {
    display: block;
    border-bottom: 1px solid #555;
    border-color: rgba(255,255,255,0.15);
    line-height: 1.2;
    padding: 0.8em 2px 0.8em 20px;
    text-indent: -15px;
    color: #ccc;

    font-size: 1em;
    text-decoration: none;
}

.box {
    
    width: 48.7%;
    height: auto;
    float: left;
    padding: 0 0 20px 0;
}

.box-1 {
    padding-right: 10px;
}

.box-2 {
    padding-left: 10px;
}

.box p {
    margin:0;
}


.footer-content {
    padding: 0;
    margin: auto;
    width: 800px;
    
}

.navbar-header {
    margin: auto;
    padding: 0;
    width: 840px;
    height: 100%;
    
}

.navbar-header ul {
    list-style: none;
    padding: 25px 20px 0 20px;
    margin:0;
    height: 100%;
    float: right;
    right: 0;
    
    
}

.navbar-header ul li {
    float: left;
    margin:0px;
    padding: 0px;
    
    height:100%;
    
}

.adminsbar {
    font-size: 14px;
    color: #9d9d9d;
    
    overflow: hidden;
    display:block;
    top: 0;
    z-index:9999;
/*    padding: 5px 20px 5px 20px;*/
    left: 0;
    width: 100%;
    
    color: #9d9d9d;
    background: #000;
    
}

.adminsbar a {
    color: #9d9d9d;
}

.adminsbar a:hover {
    color: #fff;
}



.adminsbar ul {
    margin: 0px;
    padding-left: 0;
    list-style: none;
    width: 100%;
}

.adminsbar ul li {
    padding: 10px 15px 10px 15px;
    float: left;
    display: inline-block;
    width: auto;
}

.adminsbar ul li:last-child {
    text-align: right;
    float: right;
}

.adm-nav {
    width:800px;
    margin:auto;
    padding:0;
}

/*.navbar ul li a {
    font-size: 20px;
    color: #fff;
    text-decoration: none;
    font-family: "Arial Black", Gadget, sans-serif;
    background-color: #17232e;
    padding: 20px;
    border-radius: 10px;
}*/

.navbar-header ul li a:hover {
    
    
}

.container {
    width: 800px;
    margin: auto;
    padding:3px;
    background-color: #00121b;
    border: 1px solid #92B6D5;

}

.center {
    margin:auto;
    padding:0;
    width:800px;
}

.wrap {
    background-color: #fff;
    color: #000;
    margin: 0;
    padding: 20px;
}



/* edit */

.navbar-header ul li:first-child a {
    -webkit-border-top-left-radius:6px;
    -moz-border-radius-topleft:6px;
    border-top-left-radius:6px;
    -webkit-border-bottom-left-radius:6px;
    -moz-border-radius-bottomleft:6px;
    border-bottom-left-radius:6px;
}

.navbar-header ul li:last-child a {
    -webkit-border-top-right-radius:6px;
    -moz-border-radius-topright:6px;
    border-top-right-radius:6px;
    -webkit-border-bottom-right-radius:6px;
    -moz-border-radius-bottomright:6px;
    border-bottom-right-radius:6px;
}



.menu-navbar a {
/*    -moz-box-shadow:inset 0px 1px 0px 0px #ccc;
    -webkit-box-shadow:inset 0px 1px 0px 0px #ccc;
    box-shadow:inset 0px 1px 0px 0px #ccc;*/
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00121b), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #00121b 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00121b', endColorstr='#000000');
	
    background-color:#575757;
    text-indent:0px;
        
    height: 40px;
    line-height: 40px;
    width: 140px;
    display:inline-block;
    background-color: #b6b6b6;
    color:#ccc;
    font-weight:bold;
    font-style:normal;


    text-decoration:none;
    text-align:center;
    border: 1px solid #222;
    text-decoration: none;
    
}



.menu-navbar a:hover {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #00121b) );
    background:-moz-linear-gradient( center top, #000000 5%, #00121b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00121b');
    
}

.menu-navbar a:active {
    position:relative;
    top:1px;
}

/* end edit */

.clear {
    clear: both;

}

.row {
    display: flex;
    
    max-width: 800px;
}

.col-sm-6 {
    background-color: #00121b;
    margin:5px;
    border: 1px solid #555;
}

.thumbnail .caption h3 {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #00121b), color-stop(1, #000000) );
    background:-moz-linear-gradient( center top, #00121b 5%, #000000 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#00121b', endColorstr='#000000');
    max-width: 100%;
    margin: 0;
    padding: 10px;
}

.thumbnail .caption p {
    padding: 10px;
}

.col-md-4 {
    width:32%;
    padding: 0;
    
}



#menu-main li.active a {
    background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #000000), color-stop(1, #00121b) );
    background:-moz-linear-gradient( center top, #000000 5%, #00121b 100% );
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#000000', endColorstr='#00121b');
}







.block-contact {
    border: 1px solid #555;
}

@media (min-width: 768px) {
    .show-menu {
        display: none;
    }
    #menu-main {
        display: block !important;
    }
}

@media (max-width: 767px) {
    #content {
        padding: 0;
        max-width: 100%;
    }
    #content .center {
        width: 100%;
        
    }
    
    .footer-bottom {
        margin-top:20px;
    }
    
    .footer-content {
        max-width: 98%;
        padding: 0;
    }
    
    .slider {
        max-width: 100%;
    }
    
    .box-1, .box-2 {
        
    }
    
    .box {
        width: 97%;
        float: none;
        padding: 10px 5px 15px 5px;
    }
    
    .navbar-header {
        width: 100%;
        height: auto;
    }
    
    
    .show-menu {
        cursor: pointer;
        

        float: right;
        padding: 4px 6px 7px 6px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #222;
        background-image: none;
/*        border: 1px solid transparent;*/
        border-radius: 4px;
        display: block;

    }
    
    
    .show-menu .icon {
        display: block;
        width: 22px;
        height: 4px;
        border-radius: 1px;
        border-bottom: 2px solid #fff;
        
    }
    
    #menu-main {
        display: none;
        position: static;
        padding: 0;
        margin:auto;
        
        width:100%;
    }
    
    .navbar-header ul li {
        float: none;
        height: auto;
        padding: 0 4px 0 1px;
    }
    
    .navbar-header ul li:first-child a, .navbar-header ul li:last-child a {
        
        border-radius: 0px;
    }
    
    .navbar-header ul li a {
        
        width:100%;
    }
    
    
    
    .row {
        display: block;
        max-width: 99%;
        
        padding: 0;
    }
    
    .col-sm-6 {
        margin: 10px 0 10px 0;
    }
    
    .col-md-4 {
        width: 100%;
    }
    
    .container {
        width: 100%;
        padding: 30px 0 30px 0;
    }
    
    .wrap {
        
    }
    
    .adm-nav {
        width: 100% !important;
    }
    .adminsbar {
        position: relative;
        
    }
    
    .adminsbar ul {
        width: 100% !important;
        margin-left: 20px;
    }
    
    .adminsbar ul li {
        float:none;
        padding: 10px;
        width: 100% !important;
    }
    
    .adminsbar ul li:last-child {
        float: none;
        text-align: left;
    }
    
    
}

@media (min-height: 946px) {
    #content {
        
        min-height: 691.4px;
    }
}




.wrap img {
    max-width: 100%; 
    height: auto;
}

