body {
    color: #fff;
    /*background-image: url('../img/test5.jpg');*/
    background-color: darkgrey;
    /* background-image: url('../img/test3.jpg') !important; */
    /* #A4C5D2 */
}



.adminsbar {
    height: 32px;
    overflow: hidden;
    display:block;
    top: 0;
    z-index:9999;
    padding-right: 70px;
    left: 0;
    width: 100%;
    position: fixed;
    color: #9d9d9d;
    min-width: 600px;
    background: #23282d;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.adminsbar div {
    float:left;
    
}

.adminsbar ul {
    margin-bottom: 0px;
    padding-left: 20px;
    list-style: none;
}

.adminsbar ul li {
    padding: 0 20px 0 0;
}

.header {
    margin: auto;
    /*max-width: 50%;*/
    padding: auto;
}

.adminsbar {
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
}

.adminsbar a {
    color: #9d9d9d;
}

.adminsbar a:hover, a:focus {
    color: #fff;
}


.content {
    
    width: 60%;
}

.content {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
    color: #c6f8f8
}

.pic { 
    opacity: 1; 
    filter: alpha(opacity=100); 
    -webkit-filter: opacity(100);
    border: 0;
}

.pic:hover { 
    opacity: 0.6; 
    filter: alpha(opacity=30); 
    -webkit-filter: opacity(30); 
    border: 0;
    text-decoration: none;
}

.srodek {
    padding-left: 15px;
    padding-right: 15px; 
    margin-left: auto;
    margin-right: auto;
}
.dis {
    min-height:100px;
    max-height: 300px;
    min-width: 450px;
    max-width: 100%;
    overflow: hidden;
}

.navbar-default {
    background-image: linear-gradient(to bottom, #e8e8e8 60%, #c6f8f8 100%) !important;
}

.admin-user-menu ul {
    list-style: none;
    width: 100%;
}

.admin-user-menu ul li {
    display: inline-block;
    float: left;
    
}

.admin-user-menu ul li {
    margin-left: auto;
    margin-right: auto;
    padding: 5px;
}

#login-main {
    font-family: 'Droid Serif', serif;
    width:400px;

    padding: 40px;
    background-color: #efefef;
    border: 20px solid white;
    box-shadow: 0 0 10px;
    border-radius: 2px;
    font-size: 13px;

    max-height: 700px;
    min-height: 150px;

}

#login-main {
    margin: auto;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}



.login-opt a {
    color: #555d66;
    
}

.login-opt a:hover {
    color: #0073aa;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
}

/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

fieldset { 
    display: block;
    margin-left: 2px;
    margin-right: 2px;
    padding-top: 0.35em;
    padding-bottom: 0.625em;
    padding-left: 0.75em;
    padding-right: 0.75em;
    border: 1px solid #1b6d85;
}

.hidden {
    visibility: hidden;
    display: none;
}

.kolumna {
    padding: 0px;
/*    margin:auto;*/
    float:left;
/*    margin-left: 20px;
    width:45%;*/
    
    border: 1px solid #337ab7;
}

.lewa {
    float:left;
}

.sort {
    list-style-type: none;
    width:100%;
    margin:0;
    padding: 5px;
}

.ttr {
    width: auto;
    height:auto;
}

.sort li {
    height: 30px;
    margin: 10px;
    padding:0;
    
    border: 1px solid #555d66;
}

.sort li:hover{
    border: 1px solid #3575e1;
}

#titl {
    background-color: #c8c8c8;
    padding: 7px;
}





footer {
    bottom:0px;
    text-align: center;
    margin-top: 20px;
    width: 100%;
}

.footer {
    
     
    
}

footer {
    

    padding-top: 10px;
    padding-bottom: 0;
    margin-top: 50px;
    margin-bottom: 0;
    margin-right: auto;
    margin-left: auto;
    
    color: #c0c0c0;
    height: auto;
}

.footer-top {
   /* background-color: #002d3b;*/
    padding-top:30px;
    padding-bottom: 30px;
    margin: auto;
    background-color: #006792;
}

.footer-bottom {
    font-family: 'Helvetica Neue,Helvetica,Arial,sans-serif';
    
}

.footer-block {
    width: 100%;
    padding: 20px;
    margin: auto;
}

.footer-bottom {
    letter-spacing: 0.2px;
    padding-bottom: 50px;
    margin-bottom: 0;
    margin-top: 0;
    padding-top: 10px;
    /*background-color: #292929;*/
    background-color: #002d3b;
    /*border-top: 1px solid #555;
    border-color: rgba(255,255,255,0.15);
    border-color: #cbcbcb;*/
}

.footer-bottom a:link {
    color: #c0c0c0;
    font-weight: bold;
}

.footer-bottom a:hover {
    color: #888
}

.block {
    display: inline-block;
    width: 24%;
    height: auto;
    vertical-align: top;
}

.block-content {
    
}

.block-menu {
    list-style: none outside;
    
    margin: 0;
    padding: 0;
}

.block-menu li a:hover {
    background-color: #1f1f21;
    background-color: rgba(255,255,255,0.05);
    text-decoration: none;

    border-bottom-style: solid;
}

.block-menu li a {
    display: block;
    border-bottom: 1px solid #555;
    border-color: rgba(255,255,255,0.15);
    line-height: 1.2;
    padding: 0.8em 2px 0.8em 20px;
    text-indent: -15px;
    color: #fcfcfc;
    color: rgba(255,255,255,0.8);
    font-size: 1em;
    text-decoration: none;
}

.block-contact {
    text-align: left;
    
    
    border: 1px solid #444;
    border-color: rgba(255,255,255,0.1);
    padding: 10px;
    width: 100%;
    
}

.block-contact h4 {
    border-bottom: 1px solid #555;
    
}

.block-contact-clear {
    text-align: left;
    padding: 10px;
    width: 100%;
    
}

.block-contact-clear h4 {
    border-bottom: 1px solid #555;
    
}

.my {
    margin: auto;
  /*  padding: 12px; */
    height: auto;
    width: 50%;
    text-align: center;
    padding-left: 0px;
}

.my li {
    display: inline-block;
    list-style: none;
    padding: 10px 0 10px 0;
    
}

.my li a {
    color: #337ab7;
    font-size: 20px;
    padding: 10px;
    margin: 0;
    height: 100%;

}



.my li a:hover, #myTab li a:focus {

    color: #23527c;
    text-shadow: 0.4pt;
    text-decoration: none;
    
}

.my li.active > a {
    color: #23527c !important ;
}

.pans {
    background-color: white !important;
    border: 1px solid #41525e;
}

.sort-slider {
    display: block;
}



label.mod > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label.mod > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
  width: 200px;
  height: 130px;
}
label.mod > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

#slider-zoom-img {
    position: fixed;
    width: 30%;
    height: 80%;
    display: none;
    left: 40%;
    top: 50%;
    z-index: 999999;
    transform: translate(-50%, -50%);
}

.noresize {
    resize: none;
}

.sort-slider {
    border:1px solid #000;
    margin-bottom: 5px;
}

.shadow {
    /* rgba(0,0,0,0.75) 
        #969696
    -webkit-box-shadow: 3px 3px 12px 1px #969696;
    -moz-box-shadow: 3px 3px 12px 1px #969696;
    box-shadow: 3px 3px 12px 1px #969696;
    
    */
    -webkit-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.75);
    -moz-box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.75);
    box-shadow: 3px 3px 12px 1px rgba(0,0,0,0.75);
    
}

#panels .shadow:first-child {
    margin-right: 10px;
}

#panels .shadow:last-child {
    margin-left: 10px;
}

.pages {
    padding:50px;
    background-color: #f8f8f9;
    border-radius: inherit;
}

.col-sm-6, .col-md-4 {
    padding: 0 5px !important;

}

.btnRight {
    float: right;
}

@media (max-width:1010px){
    .kolumna {
        float: none;
        margin-top: 20px;
    }
    
    
}

@media (min-width: 1300px){
    
    .edSliSr {
        width: 300px
    }
}

@media (min-width: 1011px){
    #links {
        width:300px;
        margin-right: 10px
    }
    #details {
        margin-left: 10px;
    }
    .edSliSr {
        width: 300px
    }
}

@media (max-width: 400px){
    .btnRight {
        float: none;
    }
}

@media (min-width:768px){
    .adminsbar ul {
        display: flex;
        
    }
    .sliders {
        width: 100%;
        display:flex
    }
    
    .sliders .panel:first-child {
        margin-right: 15px;
    }
    
    .sliders .panel:last-child {
        margin-left: 15px;
    }
    
}
@media (max-width:767px){
    .sliders {
        width: 100%;
        display:block;
    }
    
    .sliders .panel {
        margin-top: 20px;
    }
    
    .my {
        width:auto;
        display:block
    }
    .my li {
        width:100%;
    }
    .adminsbar {
        height: auto;
        padding: 0;
        
    }
    .adminsbar div {
        float: none ;
    }
    .adminsbar ul {
        display: block;
    }
    #profil-bar {
        padding-left: 20px;
    }
    .row {
        margin-left: 0px;
        margin-right: 0px; 
        width: 100%;
        
    }
    
    
}
@media (max-width:992px){
    
    .block {
        width:100%;
    }
    /*
    .my {
        width:auto;
        display:block
    }
    .my li {
        width:100%;
    }*/
    #pages {
        padding:20px !important;
    }
    .row {
        width:100% !important;
/*        margin-left:-10px !important;*/

    margin: 0 !important;

        margin: 0;
        display: block;
    }
    .row div {
        width:100% !important;
        margin: auto;
        padding:0;
    }
    
    .col-sm-6 {
        margin: 20px 0 20px 0 !important;
    }
    
}