/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-02-20, 09:30:57
    Author     : ptarkowski
*/

body {
    margin: 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    
    line-height: 1.42857143;
	
}



.adminsbar {
    font-size: 14px;
    color: #9d9d9d;
    
    overflow: hidden;
    display:block;
    top: 0;
    z-index:9999;
    padding: 5px 20px 5px 20px;
    left: 0;
    
    
    color: #9d9d9d;
    background: #000;
    
}

.adminsbar a {
    color: #9d9d9d;
}

.adminsbar a:hover {
    color: #fff;
}



.adminsbar ul {
/*    margin-bottom: 0px;*/
margin: 0px;
    padding-left: 0;
    list-style: none;
    
}

.adminsbar ul li:last-child {
    text-align: right;
}




a {
    text-decoration: none;
    color: #0099cc;
    
}

a:hover {
    color: #006699;
    text-decoration: underline;
    
}

li.active a {
    color:#fff;
}

header {
    width: 100%;
    height: auto;
    font-size: 18px;
}

.header {
    max-width: 100%;
    padding: auto;
    margin: auto;
    background-color: #262626;
    
    height: 80px;
}

.nav-bar {
    max-width: 800px;
    padding: auto;
    margin: auto;
}

.logo {
    background-color: #ADC7D9;
    max-width: 100%;
    height: 200px;
    margin:0;
    
}

.logos {
    margin: auto;
    padding: 20px;
    max-width: 800px;
}

.logo-text h1 * {
	font-weight: normal;
	text-decoration: none;
}

.logo-text h1 a * {
	color: #000000;
	display: block;
	
}


.logo-text h1 a strong {
	font-size: 48px;
	font-weight: bold;
	font-family: cursive;
}

.logo-text h1 a small {
	font-size: 15px;
}


.logo-text {
    float: left;
    padding-top: 10px;
    width: 60%;
	text-align: center;
}

.logo-title {
	font-size: 48px;
    font-family: cursive;
}


.title {
	border-bottom: 1px dotted #84a1af;
	clear:both;
	margin-bottom:20px;
}

.logo-text h1 {
	margin:0;
}

.logo-img {
    float: left;
    width: 40%;
    
}

.carousel-inner .item img {
	height:400px;
	width:100%;
}



.logo h2 {
    margin: 0;
    padding:auto;
}

.nav-header {
    list-style-type: none;
    padding: 0;
    overflow: hidden;
    float: right;
    margin-top:15px;
    margin-bottom: 15px;
}


.nav-header li {
    float: left;
    padding: 14px 20px;
    
}

.nav-header a {
    
    color: #BBBBBB;
    text-align: center;
    
    text-decoration: none;
}

.nav-header a:hover {
    color: #fff;
}

.nav-header a.active {
    color: #fff;
}

#content {
    width: 100%;
    padding-top:20px;
  /*  background-color: #F9F9F9; */
    background-color: #f2f2f2;
}

.content {
    max-width: 800px;
    margin: auto;
    padding: 20px;
}

footer {
    max-width: 100%;
    height: 100%;

    background-color: #262626;
    color: #9C9C9C;
}

.footer {
    max-width: 800px;
    padding: 20px;
    margin: auto;
}

.footer-top {
    width: 100%;
    height: auto;
    padding: 0;
    margin: auto;
}

.box {
    width: 48%;
    float:left;
}

.box-one {
    
    padding-right: 10px;
}

.box-two {
    
    padding-left: 10px;
}

.box-two p {
	text-align: center;
}

.footer-bottom {
    
    border-top: 1px solid #333;
    padding: 10px 0px 50px 0px;
    margin-top: 30px;
    text-align: center;
}

.footer-bottom a {
    color: #BBBBBB;
    font-weight: bold;
}

.footer-bottom a:hover {
    color: #fff;

    
}


.block-menu {
    list-style: none outside;
    
    margin: 0;
    padding: 0;
}

.block-menu li a:hover {
    background-color: #1f1f21;
    background-color: rgba(255,255,255,0.05);
    text-decoration: none;

    border-bottom-style: solid;
}

.block-menu li a {
    display: block;
    border-bottom: 1px solid #555;
    border-color: rgba(255,255,255,0.15);
    line-height: 1.2;
    padding: 0.8em 2px 0.8em 20px;
    text-indent: -15px;
    color: #fcfcfc;
    color: rgba(255,255,255,0.8);
    font-size: 1em;
    text-decoration: none;
}

.collapsed {
    border: 2px solid #fff;
    border-radius: 5px;
}

.icon-bar {
    border-bottom: 2px solid #fff;
}



.row {
    margin-right: -15px;
    margin-left: -15px;
}
.col-sm-6, .col-md-4 {
    padding: 5px;
}

.col-sm-6, .col-md-4 {
    position: relative;
    min-height: 1px;
    
}



.col-sm-6 {
    
}

.thumbnail {
    display: block;
    
    margin-bottom: 20px;
    line-height: 1.42857143;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 4px;
    -webkit-transition: border .2s ease-in-out;
    -o-transition: border .2s ease-in-out;
    transition: border .2s ease-in-out;
}

.thumbnail .caption {
    padding: 10px;
    color: #333;
}

.portfolio {
	display: table;
	
}

.wrap-portfolio {
    width: 370px;
    float: left;
    margin: 10px;
    padding: 5px;
    box-shadow: 0 0 6px 2px #ccc;
}

.wrap-portfolio img {
    height: 300px;
    width: 100%;
}

.wrap-portfolio h2 {
    font-size: 20px;
    padding:10px 20px;
}

.wrap-contact {
	padding:20px;
    border: 1px solid #ccc;
    margin:20px 0 0px 0;
}

@media(max-width: 767px) {
	.wrap-portfolio {
        width:100%;
        margin: 10px 0;
    }
    .adm-nav {
        width: 100% !important;
    }
    .adminsbar {
        position: relative;
        max-width: 100%;
    }
    
    .adminsbar ul {
        width: 100% !important;
    }
    
    .adminsbar ul li {
        float:none;
        padding: 10px 0 10px 0;
        width: 100% !important;
    }
    
    .adminsbar ul li:last-child {

        text-align: left;
    }
    
    .shadow {
        padding: 5px 0 5px 0 !important;
    }
    
    .row div {
        padding: 5px;
    }
    
    .header {
        height: auto;
    }
    
    .navbar-header {
        display: block;
    }
    
    .navbar-toggle {
        cursor: pointer;
        

        float: right;
        padding: 4px 6px 7px 6px;
        margin-top: 8px;
        margin-right: 15px;
        margin-bottom: 8px;
        background-color: #222;
        background-image: none;
/*        border: 1px solid transparent;*/
        border-radius: 4px;
        display: block;

    }
    .navbar-toggle:hover, .navbar-toggle:hover .icon-bar  {
        border-color: #444;
    }
    
    
    .navbar-toggle .icon-bar {
        display: block;
        width: 22px;
        height: 4px;
        border-radius: 1px;
        border-bottom: 2px solid #fff;
        
    }
    
    #tabnav {
        display: none;
    }
    
    .logo-img img {
        width: 150px;
    }
    
    .nav-header {
        border-top: 1px solid;
        float: none;
        height: 100%;
        margin-bottom: 0;
    }
    
    .nav-header li {
        float: none;
        text-align: center;
    }
    
    .row {
        margin: 0 !important;
    }
    
    .content {
        padding: 5px;
        
    }
    
    .carousel {
        margin-bottom: 5px !important;
    }
    
    .footer {
        padding: 5px;
    }
    
    .footer-bottom {
        margin-top: 5px;
    }
    
    .box {
        width: 100%;
        float: none;
        
    }
    
    .box-one {
        padding: 10px 0 10px 0;
    }
    
    .box-two {
        padding: 10px 0 10px 0;
    }
    
    .col-md-4 {
        
    }
    
}

@media(min-width: 768px) {
    .collapse {
        display: block;
    }
    .adminsbar {
        height: 32px;
        padding:0;
        position: fixed;
        width: 100%;
    }
    
    .col-md-4 {
        float: left;
        width: 32%;
    }

    .adminsbar ul li {
        float:left;
        padding: 6px 0 5px 0;
        width: 50%;
    }
    .adm-nav {
        margin:auto;
        padding:auto;
        width:800px;
        padding: 0 20px 0 20px;
    }
    .navbar-header {
        display: none;
    }
}

	.img-tccs {
        display:inline-block;
        position: relative;
    }
    .img-tccs img, .img-tccs:after {
        border-radius: 50%;
    }
    .img-tccs:after {
        content:'';
        top: 0;
        left: 0;
        z-index: 10;
        width: 100%;
        height: 97%;
        display: block;
        position: absolute;
        background: #000;
        opacity: 0.4;
    }

