<?php if(empty($this->front)){ ?>
<div class="container">
    <div class="wrap">
        <?= $this->content; ?>
    </div>
</div>
<?php } else { ?>
<div class="center">
<?= $this->content; ?>
</div>
<?php } ?>