
<div class="footer-top">
    <div class="footer-content">
        <div class="box box-1">
            
            <?= $this->blocks('footer-one'); ?>
            
        </div>
     
    
        <div class="box box-2">
            <?= $this->blocks('footer-second'); ?>
        </div>
    </div>
</div>
<div class="clear"></div>
<div class="footer-bottom" style="margin-top: 1em; border-top: solid 1px #333;box-shadow: #000 0 -1px 0;">
    
    <?= $this->pagefooter ?>
    
</div>
    
