<?php if ($this->isAllowed('logged')) { ?>
    <div class="adminsbar" >
        <div class="adm-nav">
            <ul class="" style="">
        <?php if ($this->isAllowed('role') == 'admin'): ?>  
            
                <li >
                    <a href="<?= URL . $this->url('admin') ?>" class="navbar-link">Administracja</a>
                </li>
            
        <?php endif; ?>  
                <li>
                    Zalogowany jako: <a href="<?= URL ?>/profil"><b><?= $this->isAllowed('displayName'); ?></b></a>. | 
                    <a href="<?= URL . $this->url('logout'); ?>" class="navbar-link">Wyloguj</a>
                </li>
            </ul>
        </div>
        
<!--        <div class="navbar-text navbar-right" id="profil-bar" style="margin-top: 0;margin-bottom: 0;">
            Zalogowany jako: <a href="<?= URL ?>/profil"><b><?= $this->isAllowed('displayName'); ?></b></a>. | 
            <a href="<?= URL . $this->url('logout'); ?>" class="navbar-link">Wyloguj</a>

        </div>-->
    </div>


<?php } ?>

<div class="navbar-header" id="tabnav">
    <div>
        <button class="show-menu" id="show-menu" type="button">
             <span class="icon"></span>
             <span class="icon"></span>
             <span class="icon"></span>
         </button> 
     </div>

    
    <ul id="menu-main">
        <li class="menu-navbar"><a href="<?= URL; ?>/">Home</a></li>
        <?php foreach ($this->menu('main')->getMenu(0) as $key => $value): ?>
                    <li class="menu-navbar">
                        <a href="<?php 
                        if (empty($value['url'])) { 
                            echo URL . $this->url( 'pages', [ 'slug' => $value['post_slug'], 'action' => $value['post_id'] ] ); 
                            
                        } else { 
                            echo $value['url']; 
                            
                        } ?>" <?php if (!empty($value['url'])) { ?>target="_blank"<?php } ?> id="<?= $value["id"]; ?>" >
                            <?= $value['name']; ?>
                        </a>
                    </li>
        <?php endforeach; ?>
        
        
    </ul>
</div>
<script>
    $('#show-menu').click(function(){
        $('#menu-main').slideToggle(600);
    });
</script>

