<!doctype html>

<html lang="pl">
    <head>
        <title><?php if(!empty($this->page_title)){ echo $this->page_title . ' - '; } echo $this->page_slang; ?> - <?= $this->meta_title; ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <meta charset="UTF-8" />
		<link rel="icon"  href="/img/favicon.ico" sizes="16x16" />
        <meta name="description" content="<?= $this->meta_description; ?>" />
        <meta name="keywords" content="<?= $this->meta_keywords; ?>" />
        <meta name="author" content="Piotr Tarkowski" /> 
        <?php 
            

            echo $this->js(array('src' => 'my.js'));
            echo $this->js(array('src' => 'jquery-3.1.1.js'));
            
            echo $this->css(array('href' => 'new.css'));
            echo $this->css(array('href' => 'wsp.css'));
            
            echo $this->css(array('href' => 'carousel.css'));
            echo $this->js(array('src' => 'car.js'));
            
            //echo $this->css(array('href' => 'bootstrap.min.css'));
            //echo $this->js(array('src' => 'bootstrap.min.js'));
            
        ?>
        <link href="<?php //echo $this->css ; ?>" rel="stylesheet" />
        
<!--        <script src="<?= URL; ?>/public/bx/jquery.bxslider.min.js"></script>
        <link href="<?= URL; ?>/public/bx/jquery.bxslider.css" rel="stylesheet" />

        
        <script>
            $(document).ready(function(){
                $('.bxslider').bxSlider();
            });
        </script>-->
        <script>
        $(function(){
            var page = location.pathname.split().pop();
            //alert(page);
            
            
            $('#menu-main a[href="<?php echo 'http://' . filter_input(INPUT_SERVER, 'HTTP_HOST') . filter_input(INPUT_SERVER, 'REQUEST_URI'); ?>"]').parent(this).addClass('active');

        });
        </script>

        
        
    </head>
    <body>
        
        <header>
            <?= $header; ?>
        </header>
            <?php 
            
            ?>
        <div class="clear"></div>
        <div id="content">
            
            <?= $content; ?>
            
        </div>
        <footer>
            <?= $footer; ?>
        </footer>
        
        <script>
            //$(document).ready(function(){
                //var height_diff = $( window ).height() - $( 'body' ).height();
                var height_diff = $( window ).height() - $( 'header' ).height() - $( 'footer' ).height();
                if ( $( window ).height() > $( 'body' ).height() ) {
                    $( '#content' ).css( 'height', height_diff );
                    //$( 'footer' ).css( 'margin-top', height_diff );
                }
            //});
        </script>
    </body>
    
</html>
