
<script type="text/javascript">
      var verifyCallback = function(response) {
        //alert('Please check the the captcha form.');
        
      };
      var onloadCallback = function() {
        // Renders the HTML element with id 'example1' as a reCAPTCHA widget.
        // The id of the reCAPTCHA widget is assigned to 'widgetId1'.
        //alert('Please check the the captcha form.');
        grecaptcha.render('capt', {
          'sitekey' : '6Lfo0QkUAAAAAHFWSunviU_gAnWzUzGOFxM5a1Qg',
          'callback' : verifyCallback,
          'theme' : 'light'
        });
        
      };
</script>

    
<div class="" style="">
       
    <form method="POST" id="myForm" class="form-group srodek" action="<?php echo URL; ?>/contact" style="display:block;width: 50%;" >
    <?php if(!empty($data->message)): ?>
        <div class="alert alert-danger">
            <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
            <?php echo $data->message;  ?>
        </div> 
            
    <?php endif; ?>
        <div id="error" hidden class="alert alert-danger" ><a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a></div>    
        <div><label for="fname">Imię: </label><input class="form-control" type="text" name="imie" required/></div>
        <div><label for="email">Twój adres e-mail: </label><input class="form-control" type="text" name="email" required/></div>
        <div><label for="subject">Temat: </label><input class="form-control" type="text"  name="subject" required/></div>
        <div><label for="tresc">Treść: </label><textarea class="form-control" id="tresc" name="tresc" style="min-width:97%;max-width:100%;min-height: 100px;max-height: 200px;" required></textarea></div>
        <br />
    
        <div style="text-align: center;">
        <div id="capt" style="display: inline-block"></div>
        <div class="g-recaptcha" ></div>
    
    
        <input id="btnDodaj" type="submit" name="submit" value="Wyślij" class="btn btn-info" />
        </div><br/>
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit" async defer></script>
    </form>


 
<script>
$("#btnDodaj").click(function(){
    //var fg = $("input").val();
   
    $("#myForm").find('select,textarea,input').each(function()
    {
        //var te = 
        
        if(this.value === "")
        {
            if($(this).prop("required"))
            {
                $(this).parent(this).addClass("alert alert-danger");
            }
        }
    });    
});
</script>
<script>
$("#myForm").find('select,textarea,input').change(function(){
    if($(this).val().length > 0)
    {
        $(this).parent(this).removeClass("alert alert-danger");
    }
    
});

</script>
</div>
    
