
<div id="carousel-example-generic" class="carousel slide" data-ride="carousel"  style="margin-bottom: 50px">
   <ol class="carousel-indicators">
        <?php foreach($slider as $k => $v): ?>
        
            <li data-target="#carousel-example-generic" data-slide-to="<?=$k;?>" class="<?php if($k == 0){ echo 'active'; } ?>"></li>
        <?php endforeach; ?>

    </ol>
    <div class="carousel-inner" role="listbox">
        <?php foreach($slider as $k => $v): ?>
        <?php if(!empty($v)){ ?>
        <div class="item <?php if($k == 0){ echo 'active'; } ?>">
            <img src="<?= URL . '/img/upload/' . $v['file']; ?>" alt="<?= $v['title']; ?>" title="<?= $v['title']; ?>" >
            <div class="carousel-caption" style="background-color: rgba(0, 0, 0, 0.8) !important; width:100%">
                <div style="margin:0;font-size:2em;font-weight:bold"><?= $v['title']; ?></div>
                <p><?= $v['description']; ?></p>
            </div>
        </div>
        <?php } ?>
        <?php endforeach; ?>      
    </div>
    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
    

<div class="row">
    <?php

    ?>
    <?php foreach($panel as $k => $v): ?>
    <?php if($k <= 2) { ?>
    <div class="col-sm-6 col-md-4" style="">
        <div class="thumbnail" style="padding:0;margin:0;">
            <div class="caption">
                <h2><?= $v['title']; ?></h2>
                <?php if(file_exists(ROOTPATH . 'public/img/upload/' . $v['image'])) { ?>
                <p ><img src="<?= URL . '/img/upload/' . $v['image']; ?>"  alt="<?= $v['imgAlt']; ?>" title="<?= $v['imgTitle']; ?>" width="100%" style="width:100%;" /></p>
                <?php } ?>
                <p>
                    <?= $v['text']; ?>
                </p>
            </div>
        </div>
    </div>
    <?php } ?>
    <?php endforeach; ?>
    
    
</div>

<script>
    $('.carousel').carousel({
        interval: 2000,
        pause: 'hover'
    });
</script>