       
    

<form class="form-horizontal" action="<?php echo URL; ?>/login" method="post" style="">
    <?php if(!empty($data->message)): ?>
    <div class="alert alert-danger">
        <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
        <?php echo $data->message;  ?>
    </div> 
            
    <?php endif; ?>
    <div class="form-group">
        <label for="login" class="col-sm-2 control-label">Login: </label>
        <div class="col-sm-6">
            <div class="input-group">
                <span class="input-group-addon">@</span>
                <input class="form-control" id="login" name="login" type="text" />
            </div>
        </div>
    </div>
    <div class="form-group">
        <label for="passwd" class="col-sm-2 control-label">Hasło: </label>
        <div class="col-sm-6">
            <input class="form-control" id="passwd" name="passwd" type="password" />
        </div>
    </div>
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            <input type="submit" class="btn btn-primary" name="logowanie" value="Zaloguj" />
        </div>
    </div>
</form>
