<div class="block-contact-clear">
    <?php if(!empty($this->blocks['showTitle'])) { ?>
    <h4><?= $this->blocks['title']; ?></h4>
    <?php } ?>
    
    <p><?= $this->blocks['text']; ?></p>
</div>
