<!--action="<?php //echo URL; ?>/login"-->
<?php if(empty($this->isAllowed('logged'))) { ?>


<div id="login-main" style="height: 400px;">
    <div class="alert alert-danger" style="display:none" id="errors-bad">
            <a  class="close" id="alert-close" aria-label="close">&times;</a>
            <div id="err-txt-log"></div>    
    </div>
    <form style="">
        
        <h2 style="text-align: center;font-size: 24px;">Logowanie</h2>
        <div class="form-group" style="text-align: left;">
            <label>Nazwa użytkownika lub email</label>
            <div><input type="text" name="login" id="login" class="form-control" /></div>
        </div>
        <div class="form-group"  style="text-align: left;">
            <label>Hasło</label>
            <div><input type="password" name="passwd" id="passwd" class="form-control" /></div>
        </div>
        <div style="text-align: right;"><input type="button" class="btn btn-primary" name="logowanie" id="logowanie" value="Zaloguj" /></div>
    </form>
    <div class="login-opt" style="margin-top:20px">
        <a href="<?= URL; ?>/register" >Zarejestruj się</a> | <a href="<?= URL; ?>/lost-password">Nie pamietasz hasła?</a>
    </div>
</div>
    
    

<?php } else { ?>



Aby zobaczyć swój profil kliknij <a href="<?= URL; ?>/profil">tutaj</a>.

<?php } ?>
<script>
    $(document).ready(function () {
        $("#logowanie").click(function () {
            var login = $("#login");
            var password = $("#passwd");
            var logow = $("#logowanie");

// Checking for blank fields.
            if (login.val().length === 0 || password.val().length === 0) {
//                $('input[type="text"],input[type="passwd"]').css("border", "2px solid red");
//                $('input[type="text"],input[type="passwd"]').css("box-shadow", "0 0 3px red");
                $("#errors-bad").slideDown(300);
                $('#err-txt-log').text('Oba pola muszą być wypełnione!');
                //alert("Please fill all fields...!!!!!!");
                //alert(logow);
            } else {
                $.post(
                    "<?=URL;?>/login", 
                    {
                        login: login.val(),
                        passwd: password.val(),
                        logow: logow.val()
                    },
                    function(data) {
                            /*
                             * walidacja email, jeśli logowanie za pomocą emaila
                             */
//                            if (data === 'Invalid Email.......') {
//                                login.parent(this).addClass('has-danger');
                                //alert(data);
//            
//                                          } 

//                            if (data.status === 'Zły login i/lub hasło!') {
//                                
//                                $("#errors-bad").slideDown(300);
//                                $('#err-txt-log').text(data);
//                            } else 

                            if (data.status === 1) {
                                //$("form")[0].reset();
                                login.parent(this).addClass('has-success');
                                password.parent(this).addClass('has-success');
                                
                                //$("#errors-bad").removeClass("alert-danger").addClass("alert-success").slideDown(300);
                                //$('#err-txt-log').text('Pomyślnie zalogowano. Zostaniesz przeniesiony za 3 sec.');
                                
                                $("#errors-bad").slideUp(300);
                                
                                location.href = "<?=URL;?>/admin";
                                //window.setTimeout(function(){location.reload()},2000);
                                //location.reload();
                                
                                //alert(data);
                                
                                <?php //header('location: ' . URL ); ?>
                            } else if (data.status === 0) {
                                $("#errors-bad").slideDown(300);
                                $('#err-txt-log').text(data.message);
                            } else {
                                //alert(data);
                                $("#errors-bad").slideDown(300);
                                $('#err-txt-log').text('Ops. Coś poszło źle.');
                            }
                        }, 'json');
            }
        });
        /*
        * Alert close
         */
        $("#alert-close").parent().click(function(){
            $(this).slideUp(300);
        });
        
        $('form input').keypress(function(e){
            var code = e.keyCode || e.which;
            if(code === 13){
                $("#logowanie").click();
            }
        });
    });
</script>