
<div id="login-main" style="height: 400px">
    <div class="alert alert-danger" style="display:none" id="errors-bad">
            <a  class="close" id="alert-close" aria-label="close">&times;</a>
            <div id="err-txt-log"></div>    
    </div>
    <h2 style="text-align: center;font-size: 24px;">Przypominanie hasła</h2>
    <form action="<?=URL;?>/lost-password" method="post">
        
        
        <p>Proszę wprowadzić swoją nazwę użytkownika lub adres email. Odnośnik pozwalający na utworzenie nowego hasła zostanie wysłany emailem.</p>
        <div class="form-group" >
            <label for="user_login">Nazwa użytkownika lub email</label>
            <div><input type="text" name="login" id="user_login" class="form-control" /></div>
        </div>
        <div style="text-align: right;"><input type="submit" class="btn btn-primary" name="submit" id="nowe_haslo" value="Zdobądź nowe hasło" /></div>
    </form>
    <div class="login-opt" style="margin-top:20px">
        <a href="<?= URL; ?>/login" >Zaloguj się</a> | <a href="<?= URL; ?>/register">Zarejestruj się</a>
    </div>
</div>
    
<script>
    $(document).ready(function() {
        
    });
</script>
    
    
