<!--<form action="<?//= URL ?>/admin/admin/next" method="post">
 



<input type="submit" name="submit" value="czysc" />
</form>-->

<div style="margin-top: 10px;">
<ul id="lista" class="list-unstyled list-inline">
    <li><a href="<?= URL; ?>/admin/users" class="">Users</a></li>
    <li><a href="<?= URL; ?>/admin">Główna</a></li>
    <li><a href="<?= URL; ?>/admin/setting">Ustawienia</a></li>
    
</ul>
</div>
<div id="containers" style="width: 100%;text-align: left;">Strona główna</div>


<?//= $_SERVER['REDIRECT_URL']; ?>

<script>
    
    
    
    $('#lista li a').click(function(e){
        var href = $(this).attr('href');
        $('#containers').load(href + '#page-wrapper #content');
        
        e.preventDefault();
        
    });

</script>



<?php
//echo '<pre>' . print_r($this->setting(),1) . '</pre>';
//echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']
?>