<?php if(!empty($this->get('setting')['guest_can_register'])){ ?>
<div id="login-main" style="width: 600px;height:700px;margin-top:auto;margin-bottom: auto">
    <?php if(!empty($msg)):?>
    <div class="alert alert-danger">
        <a class="close" id="alert-close" aria-label="close">&times;</a>
        <div><?=$msg;?></div> 
    </div>
        <?php endif; ?>
    
    <form action="<?= URL; ?>/register" method="post" style="width:100%;">
        <fieldset>
            <legend>Dane logowania</legend>
            <div class="form-group">
                <label for="nazwa">Nazwa użytkownika</label>
                <input type="text" class="form-control" name="login" id="login" required/>
            </div>

            <div class="alert alert-danger" style="display:none" id="errors-pass">
                <a class="close" id="alert-close" aria-label="close">&times;</a>
                <div></div> 
            </div>
            <div class="form-group">
                <label>Haslo</label>
                <input type="password" class="form-control" name="password" id="password" required/>
            </div>
            <div class="form-group">
                <label>Powtórz hasło</label>
                <input type="password" class="form-control" name="repassword" id="repassword" required/>
            </div>

        </fieldset>
        <fieldset>
            <legend>Dane Konta</legend>
            <div class="form-group">
                <label>Imie</label>
                <input type="text" class="form-control" name="fname" />
            </div>
            <div class="form-group">
                <label>Nazwisko</label>
                <input type="text" class="form-control" name="lname" />
            </div>
            <div class="form-group">
                <label>Email</label>
                <input type="text" class="form-control" name="email" required/>
            </div>
        </fieldset>

        <center>
            <input type="submit" id="submit" class="btn btn-primary" name="submit" value="Zarejestruj" />
        </center>

    </form>

    <div class="login-opt" style="margin-top:20px">
        <a href="<?= URL; ?>/login" >Zaloguj się</a> | <a href="<?= URL; ?>/lost-password">Nie pamiętasz hasła?</a>
    </div>
    
</div>
<?php } else { ?>
<div id="login-main" style="height: 250px;">
    Rejestracja użytkowników jest obecnie zamknięta.<br >
    W celu uzyskania pomocy skontaktuj się z administratorem strony: <a href="mailto:<?=$this->get('setting')['admin_email'];?>"><?= $this->get('setting')['admin_email']; ?></a>.
    
    <div class="login-opt" style="margin-top:20px">
        <a href="<?= URL; ?>/login" >Zaloguj się</a> | <a href="<?= URL; ?>/lost-password">Nie pamiętasz hasła?</a>
    </div>
</div>
    <?php }?>
<script>
    
    
    $('#submit').click(function(e){
        var password = $('input#password').val();
        var repassword = $('input#repassword').val();
        if(password !== repassword)
        {
            e.preventDefault();
            $('#errors-pass').slideDown(500);
            $('#errors-pass div').text('Hasła nie pasują do siebie.');
        }
    });
    
    $('#btnSend').click(function(){
        var login = $('input#login').val();
        var password = $('input#password').val();
        var repassword = $('input#repassword').val();
        if(password !== repassword)
        {
            $('#errors-pass').slideDown(1000);
            $('#errors-pass div').text('Hasła nie pasują do siebie.');
        }
        
    });
    
    $('#alert-close').click(function(){
        $(this).parent().slideUp(1000);
        
    });
    
</script>