

<div id="login-main" style="">
    <div class="alert alert-danger" style="display:none" id="errors-bad">
            <a  class="close" id="alert-close" aria-label="close">&times;</a>
            <div id="err-txt-log"></div>    
    </div>
    <h2 style="text-align: center;font-size: 24px;">Rejestracja</h2>
    <form action="<?= URL; ?>/register" name="registration" method="post">
        
        
        <div class="form-group" >
            <label>Nazwa Użytkownika:</label>
            <div><input type="text" name="login" id="login" class="form-control" required /></div>
        </div>
        <div class="form-group" >
            <label>Email:</label>
            <div><input type="email" name="email" id="email" class="form-control" required /></div>
        </div>
        Potwierdzenie rejestracji otrzymasz na adres email.
        <div style="text-align: right;"><button type="submit" class="btn btn-primary" name="register" id="register" value="Zarejestruj się" >Zarejestruj się</button></div>
    </form>
    <div class="login-opt" style="margin-top:20px">
        <a href="<?= URL; ?>/login" >Zaloguj się</a> | <a href="<?= URL; ?>/lost-password">Nie pamiętasz hasła?</a>
    </div>
</div>
    
    

<script>
    $(document).ready(function() {
        
//        $('form[name="registration"] input').focus(function() {
//            $(this).parent(this).append('');
//        });
        var login = $('#login');
        var email = $('#email');
        var reg = $('#register');
        
        $('#register').click(function() {
            $.post("/generator/register", {login: login.val(), email: email.val(), register: register.val()},
                function(data){
                    if(data === 'Dziękujemy za rejestrację.')
                    {
                        $('#err-bad').removeClass('alert-danger').addClass('alert-success');
                        $('#err-bad').slideDown(300);
                        $('#err-txt-log').text('Dziekujemy za rejestrację. Za chwilę na podany adres email dostaniesz wiadomość z hasłem i linkiem do aktywacji konta.');
                    } else if (data === 'Popraw adres email.') {
                        $('#err-bad').slideDown(300);
                        $('#err-txt-log').text('Musisz poprawić adres email.');
                    } else {
                        $('#err-bad').slideDown(300);
                        $('#err-txt-log').text('Ops. Coś poszło źle.');
                    }
                });
        });
    });
</script>
    
