
        
        <h1 class="title"><?php if(!empty($post->title)){ echo $post->title; } ?></h1>
        
        <div>
            <?php if(!empty($post->id)){ echo $post->content; } else { ?>
            Przepraszamy, ale strona nie istnieje.
            <?php } ?>
        </div>



        <?php if($this->isAllowed('role') == 'admin'): ?>
        <center>
            <br /><br />
            <a href="<?= URL . $this->url('admin', array('controller' => 'pages', 'action' => 'edit', 'param' => $post->id)); ?>">EDYCJA</a>
        </center>
        <?php endif; ?>
<?php if(!empty($this->viewModul)){ ?>

    <div>
    <?= $this->viewModul; ?>
	</div>
<?php } ?>