

.horizontal-menu
{
	height: 100px;
	top: 0;
	z-index: 2;
}

.horizontal-menu .col-left{
	background-color: transparent;
}
.horizontal-menu .element
{
	height: 100px;
	top: 0;
}

.horizontal-menu .element a
{
    text-decoration: none;
    color: #ffffff;
    padding: 42px 0px 26px 0px;
    display: block;
    width: 240px;
    height: 100%;
    float: left;
}

.horizontal-menu .element:nth-child(2) a {
    /*padding: 34px 0px; */
}

.horizontal-menu .element:first-child{
	margin-left: -11px;
}

.horizontal-menu .element a:hover,
.horizontal-menu .element a:active,
.horizontal-menu .element .active
{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}

.horizontal-menu #horizontal-logout{
	
	float: right;
	border-right: none;
	margin-left: 0px;
	width: 300px;
	margin-right: 25px;
}

#horizontal-logout table{
	font-weight: bold;
	width: 100%;
	/*float: right; */
	margin-top: 10px;
	margin-left: 0px;
}

#horizontal-logout table td{
	margin-top: 5px;
}

#horizontal-logout table tr{
	height: auto;
}

#horizontal-logout table tr:last-child  td:last-child{
		text-align: right;
		margin-top: 10px;
		float: left;
		width: auto !important;
}

#horizontal-logout table td:nth-child(odd){
		text-align: right;
		width: 65%;
}

#horizontal-logout td:nth-child(even)
{
		color: #ffffff;
		text-align: left;
		font-size: 14px;
		font-weight: 100;
		text-transform: none;
		word-wrap: break-word;
		display: block;
		margin-left: 10px;
}
/*
#horizontal-logout  div{
	
	display: inline-block;
	font-weight: bold;
	padding-right: 14px;
	line-height: 20px;	
}
 */
#horizontal-logout .btn-logout
{
	width: auto;
	padding: 0px 10px;
	border-radius: 10px;
	border:  solid 1px #fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 12px;
	line-height: 14px;
	font-weight:100;
	color: #d7d7d7;
}

#horizontal-logout .btn-logout:active,
#horizontal-logout .btn-logout:hover
{
	color: #ffffff;
}

.vertical-menu
{
    float: left;
    width: 237px;
    height: 100%;
    background-color: #a8a8a8;
    border-right: 1px solid #5f5f5f;
    padding-top: 0px;
    border-right: 0px;
	z-index: 1;
}

.vertical-menu .element
{
    width: 100%;
    float: left;
    list-style: none;
    box-sizing: border-box;
    text-transform: uppercase;
    text-align: center;
}
.vertical-menu .element a
{
    text-decoration: none;
    color: #000000;
    padding: 40px 0px;
    text-align: center;
    display: block;
    width: 100%;
    float: left;
	font-weight:bold;
	font-size: 18px;
    border-bottom: solid 1px #848484;
}

/*#inf-ogolne-tab1 [class*="cols-2"] > *:nth-child(1)*/
/*[class~="disabled"] */
/*
.vertical-menu .element a[class~="disabled"]
{
	pointer-events: none;
	cursor: default;
	opacity: 0.6;
	color: grey;
}
*/

.vertical-menu li[class~="disabled"]:hover
{
	/*background: red !important;*/ 
	background: transparent;	
}

.vertical-menu .element:hover,
.vertical-menu .element:active,
.vertical-menu .element .active
{
    background-color: #848484;
}  

.sub-menu
{  
	/*display: none; */
  margin-left: 0px;
  margin-top: 0px;
  background-color: rgb(110,60,60);
  display: flex;
	float: left;
	z-index: 1;
	/*width: 100%; */
	height: auto;
	width: 101%;
	margin-left: -11px;
}

.sub-menu .element
{
    max-height: 100%;
    float: left;
    list-style: none;
    text-transform: uppercase;
    text-align: center;
    display: block;
		border: none;
}

.sub-menu .element a
{
    text-decoration: none;
    color: #ffffff;
    padding-top: 20px;
	padding-bottom: 10px;
    display: block;
    width: 120px;
    float: left;
}

.sub-menu .element a > p
{
    margin-top: 5px;
}

.sub-menu .element a .ico-container
{
    height: 55px;
}
.sub-menu .element a:hover,
.sub-menu .element a:active
{
    color: #ffffff;
    background-color: rgba(255, 255, 255, 0.5);
}

a.profiles, a.profile:active {
    width: auto; 
    padding:0; 
    background-color: transparent;
    color: #d7d7d7;
}


a.profiles:hover{
    color: #ffffff;
    text-decoration: none;
}

a{
    color:#d7d7d7;
    text-decoration:none
}
a:focus,a:hover
{
    color:#ffffff;
    text-decoration:none
}
a:focus{
    outline:thin dotted;
    outline:5px auto -webkit-focus-ring-color;
    outline-offset:-2px
}