.menu-bar{
	height: auto;
}

.fatal-error-top-bar{
	
	height: 170px !important;
}

.element{
	
	width: 33%;
	border-right: 0px;
}

.element a{
	
	padding: 0px;
	width: 100%;
}

.element img{
	
	padding-right: 25px;
	width: 75%;
	height: auto;
	padding-top: 12px;

}

.element:nth-child(2){
	
	margin-left: 145px;
}

.element p {
		
	color: #ffffff;
	text-shadow: 0 5px 5px black;
	font-size: 28px;
	margin-top: 65px;
	margin-left: 0px;
	display: flex;
} 

/* .fatal-error img:first-child{
	
	padding: 25px 10px;

} */

.fatal-error-content div[class^="col-"]{
	
	float: left;
	width: auto;
	max-width: none;
	min-width: auto;
	position: static;
	background-color: transparent;
}

.fatal-error-content .col-left, .col-right{
	
	/*background-color: white;*/
}

.fatal-error-content .col-left
{
	width: 25% !important;
}

.fatal-error-content .col-center
{
	width: 55% !important;
	/*background-color: red;*/
}

.fatal-error-content .col-right{
	width: 10% !important;	
}

.errLarge
{
	padding: 10px 20px;
	margin: 70px 160px;
	color:rgb(110, 60, 60);
	font-size: 36px;
	line-height: 38px;
	text-align:left;
	border-radius: 10px;
	border:  solid 1px rgb(110, 60, 60);
}

.errLarge td:nth-child(2)
{
	margin-left: 25px;
}

.errLarge p
{
	color: #d66904;
}

.errLarge .err-msg-header
{
	color: #d66904;
	margin: 10px 0px;
	text-decoration: underline;
	
}

.errLarge .err-msg-body
{
	display: block;
	color: #d66904;
	margin: 25px 0px;
	
}

.btnErr
{
	padding: 0px 10px;
	border-radius: 10px;
	border:  solid 1px #fff;
	text-decoration:none;
	text-transform:uppercase;
	font-size: 14px;
	line-height: 16px;
	font-weight:100;
	color: #ffffff;
	background-color: #C3C2C2;
	padding-top: 1px;
	box-shadow: 0 4px 3px grey;
	position: relative;
	left: 50%;
	margin-left: -106px;
}

.btnErr:hover
{
	color: #ffffff;
	box-shadow: 0 4px 3px grey;
}

.btnErr:active
{
	color: #ffffff;
	box-shadow: 0 1px 3px grey;
	padding-bottom: 1px;
	padding-top: 0px;
}