/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 2017-01-20, 12:57:30
    Author     : ptarkowski
*/

b {
    font-weight: bold;
}

.adminsbar {
    height: 32px;
    overflow: hidden;
    display:block;
    top: 0;
    z-index:9999;
    padding-right: 70px;
    left: 0;
    width: 100%;
    position: fixed;
    color: #9d9d9d;
    min-width: 600px;
    background: #23282d;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
}

.adminsbar {
    font-size: 13px;
    font-weight: 400;
    line-height: 32px;
}

.adminsbar a {
    color: #9d9d9d;
}

.adminsbar a:hover, a:focus {
    color: #fff;
}