
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">
            Ustawienia <small></small>
        </h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="fa fa-wrench"></i> Ustawienia
            </li>
        </ol>
    </div>
</div>
<!-- /.row -->

<!--<div class="row">
    <div class="col-lg-12">
        <div class="alert alert-info alert-dismissable">
            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
        </div>
    </div>
</div>-->

<div class="row">
    <div class="col-md-6">

        <form action="<?= URL; ?>/admin/setting/edycja" method="post" style="">
            <div class="form-horizontal">
                <div class="form-group">
                    <label for="siteurl" class="col-md-4">Adres URL strony</label>
                    <div class="col-md-8">
                        <input class="form-control" type="text" name="siteurl" id="siteurl" value="<?= $data->siteurl ?>" />
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label>Nazwa strony</label>
                <input class="form-control" type="text" name="meta_title" value="<?= $data->meta_title ?>" />
            </div>
            <div class="form-group">
                <label>Opis strony</label>
                <input class="form-control" type="text" name="page_slang" value="<?= $data->page_slang ?>" />
            </div>
            <div class="form-group">
                <label>Stopka strony</label>
                <input class="form-control" type="text" name="pagefooter" value="<?= $data->pagefooter; ?>" />
            </div>

        <!--    <div class="form-group">
                <label>Motyw Panelu Admina</label>
                <select name="admin_template">
                <?php
                    $admTpl = array_diff(scandir(ROOTPATH . '/module/Admin/view/template'), array('.', '..'));
                    foreach($admTpl as $k => $opt){
                        ?>
                        <option <?php if ($opt == $data->admin_template) { echo 'selected'; } ?> value="<?= $opt ?>"><?= $opt; ?></option>
                <?php } ?>
                </select>
            </div>
            <div class="form-group">
                <label>Motyw strony</label>
                <select name="page_template">
                <?php
                    $appTpl = array_diff(scandir(ROOTPATH . '/module/Application/view/template'), array('.', '..'));
                    foreach ($appTpl as $k => $opt) {
                        ?>
                        <option <?php if ($opt == $data->page_template) { echo 'selected'; } ?> value="<?= $opt ?>"><?= $opt; ?></option>
                <?php } ?>
                </select>
            </div>-->
            <div class="form-group">
                <label>Styl linków</label><br />
                <input class="" name="route_page" type='radio' value="[/:slug]" <?php if($data->route_page == '[/:slug]'){ echo 'checked'; $ch= 1; } ?> /> /test<br />
                <input class="" name="route_page" type='radio' value="/[:slug][-][:id]" <?php if($data->route_page == '/[:slug][-][:id]'){ echo 'checked'; $ch= 1; } ?> /> /test-12<br />
                <input class="" name="route_page" type='radio' value="/node[/:id]" <?php if($data->route_page == '/node[/:id]'){ echo 'checked'; $ch= 1; } ?> /> /node/12<br />
                <input class="" name="route_page" type='radio' value="/node/[:slug][-][:id]" <?php if($data->route_page == '/node/[:slug][-][:id]'){ echo 'checked'; $ch= 1; } ?> /> /node/test-12<br />
                <input class="" name="route_page" type='radio' value="/node[/:slug][/:id]" <?php if($data->route_page == '/node[/:slug][/:id]'){ echo 'checked'; $ch= 1; } ?> /> /node/test/12<br />

                <input class="" name="route_page" type='radio' id="wlasnyStylCh" value="" <?php if(empty($ch)){ echo 'checked'; } ?> /> Własny: [:slug], [:id], [-], [/:slug], [/:id]<br />
                <input class="form-control" type="text" name="styl_linkow" id="styl_linkow" value="<?= $data->route_page; ?>" placeholder="np.: /page/[:slug][-][:id]" <?php if(!empty($ch)){ echo 'disabled'; } ?>/>
            </div>
            <div class="form-group">
                <label>Admin Email</label>
                <input class="form-control" type="text" name="admin_email" value="<?= $data->admin_email; ?>" />
            </div>
            <div class="checkbox">
                <label for="user_can_register">
                <input class="" type="checkbox" name="user_can_register" id="user_can_register" value="1" <?php if ($data->guest_can_register == 1) { ?>checked<?php } ?> />
                Otwarta rejestracja</label>
            </div>
            <div class="form-group">
                <label>[Meta - Keywords]</label>
                <input class="form-control" type="text" name="meta_keywords" value="<?= $data->meta_keywords; ?>" />
            </div>
            <div class="form-group">
                <label>[Meta - Description]</label>
                <textarea class="form-control noresize" name="meta_description"><?= $data->meta_description; ?></textarea>

            </div>
            <input type="submit" class="btn btn-default" name="submit" value="Zapisz" />
        </form>
    </div>

</div>


<script>
    $(document).ready(function(){
        $('input[name="route_page"]').click(function(){
            
            $('#styl_linkow').val($(this).val());
            
            if($(this).attr('id') === 'wlasnyStylCh')
            {
                $('#styl_linkow').prop('disabled', false);
            } else {
                $('#styl_linkow').prop('disabled', true);
            }
        });
        
        
    });
</script>