<?php ?>
<!--<div class="panel ">
    <div class="panel-body shadow" id="pages" style="padding:50px;background-color: #f2f2f2;border-radius: inherit;">-->

        <?= $this->content ?>
  
<!--    </div>
</div>-->

            

