<!doctype html>

<!--<html class="no-js" lang="">-->
<html lang="pl">
    <head>
        <title><?php if(!empty($this->page_title)){ echo $this->page_title . ' - '; } echo $this->page_slang; ?> - <?= $this->meta_title; ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="<?= $this->meta_description; ?>">
        <meta name="keywords" content="<?= $this->meta_keywords; ?>">
        <meta name="author" content="Piotr Tarkowski">   
        <?php 
            //echo $this->metaTitle(array('title' => 'Tytuł testowy'));
            
//            echo $this->js(array('src' => 'bootstrap.js'));
//            echo $this->js(array('src' => 'jquery-3.1.1.js'));
//            echo $this->js(array('src' => 'bootstrap.min.js'));
//            echo $this->js(array('src' => 'my.js'));
//            //echo $this->js(array('src' => 'jquery-ui-1.8.18.custom.min.js'));
//            //echo $this->js(array('src' => 'jquery-1.7.1.min.js'));
//            
//            
//            echo $this->css(array('href' => 'style.css'));
//            //echo $this->css(array('href' => 'jquery-ui.css'));
//            echo $this->css(array('href' => 'datepicker.css'));
//            echo $this->css(array('href' => 'normalize.css'));
            echo $this->css(array('href' => 'bootstrap.css'));
//            echo $this->css(array('href' => 'bootstrap-theme.css'));
echo $this->css(array('href' => 'error.css'));
        ?>



         
    </head>
    <body>
        <div>
            
        </div>
       
        <div class="container" id="content" style="padding: 70px;margin:auto">


            
            <?php echo $content; ?>  
        </div>
<!--        <div class="container" id="content" style="width:60%" >
             
        </div>-->
            
            		
        

    </body>
</html>		

<?php  //echo '<pre>' . print_r($this->isAllowed() ,1) . '</pre>' ?>


