
<?php //echo '<pre>' .print_r($this->blocks('footer-one'),1) . '</pre>'; 

?>
    <div class="footer">
        <?php if(!empty($this->blocks('footer-one', 1)) or 
                $this->blocks('footer-second',1) or 
                $this->blocks('footer-third',1) or 
                $this->blocks('footer-four',1)): ?>
        <div class="footer-top">
            <div class="block">
                <div class="block-content">
                    
                    <?php echo $this->blocks('footer-one'); ?>
                </div>
            </div>
            <div class="block">
                <div class="block-content">
                    <?php $this->blocks('footer-second'); ?>
                </div>
                
            </div>
            <div class="block">
                <div class="block-content">
                    <?php $this->blocks('footer-third'); ?>
                </div>
            </div>
            <div class="block">
                <div class="block-content">
                    <?php $this->blocks('footer-four'); ?>
                </div>
            </div>
        </div>
    <?php endif; ?>
        <div class="footer-bottom">
            <?= $this->pagefooter; ?>
        </div>
    <!--
<?php foreach ($this->menu('footer')->getMenu(0) as $key => $value): ?>
                            <li>
                                <a href="//<?php if(empty($value['url'])){ echo URL . $this->url('pages', ['slug' => $value['post_slug'], 'action' => $value['post_id']]); } else { echo $value['url']; } ?>" id="<?= $value["id"]; ?>" ><?= $value['name']; ?></a>
                            </li>

    <?php endforeach; ?>-->

</div>
