<?php if ($this->isAllowed('logged')) { ?>
    <div class="adminsbar" >
        <div>
        <?php if ($this->isAllowed('role') == 'admin'): ?>  
            <ul class="" style="">
                <li >
                    <a href="<?= URL . $this->url('admin') ?>" class="navbar-link">Administracja</a>
                </li>
                
            </ul>
        <?php endif; ?>  
        </div>
        
        <div class="navbar-text navbar-right" id="profil-bar" style="margin-top: 0;margin-bottom: 0;">
            Zalogowany jako: <a href="<?= URL ?>/profil"><b><?= $this->isAllowed('displayName'); ?></b></a>. | 
            <a href="<?= URL . $this->url('logout'); ?>" class="navbar-link">Wyloguj</a>

        </div>
    </div>
<style scoped>
    @media (max-width:767px){
        .header {
            margin-top: 64px !important;
        }
    }
</style>
<?php } ?>

<div class="header shadow" <?php if ($this->isAllowed('logged')) { echo 'style="margin-top:32px;"'; } ?>>
    <div class="navbar navbar-default navbar-static-top">
        <div class="">
            <div class="navbar-header" style="color:black;">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#main-bar" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                
            </div>
            <div class="navbar-collapse collapse" id="main-bar">
                <ul class="my" id="myTab" style="margin:auto;">
                    <li ><a href="<?= URL; ?>/">Home</a></li>
<?php foreach ($this->menu('main')->getMenu(0) as $key => $value): ?>
                    <li>
                        <a href="<?php 
                        if (empty($value['url'])) { 
                            echo URL . $this->url( 'pages', [ 'slug' => $value['post_slug'], 'action' => $value['post_id'] ] ); 
                            
                        } else { 
                            echo $value['url']; 
                            
                        } ?>" <?php if (!empty($value['url'])) { ?>target="_blank"<?php } ?> id="<?= $value["id"]; ?>" >
                            <?= $value['name']; ?>
                        </a>
                    </li>
<?php endforeach; ?>
                </ul>
            </div>
        </div>
    </div>
</div>

