<?php
//echo '<br><br><br>';
//$this->test('dad')->tester();
//echo '<pre>' . print_r($this, 1) . '</pre>';

?>

<!doctype html>

<!--<html class="no-js" lang="">-->
<html lang="pl">
    <head>
        <title><?php if(!empty($this->page_title)){ echo $this->page_title . ' - '; } echo $this->page_slang; ?> - <?= $this->meta_title; ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
		<link rel="icon"  href="/img/favicon.ico" sizes="16x16" />
        <meta name="description" content="<?= $this->meta_description; ?>">
        <meta name="keywords" content="<?= $this->meta_keywords; ?>">
        <meta name="author" content="Piotr Tarkowski">   
        <link rel="stylesheet" href="css/test.css">
        <?php 

            
            
            echo $this->js(array('src' => 'jquery-3.1.1.js'));
            echo $this->js(array('src' => 'bootstrap.js'));
            echo $this->js(array('src' => 'my.js'));

            
            echo $this->css(array('href' => 'wsp.css'));
            echo $this->css(array('href' => 'carousel.css'));
            
            
            echo $this->css(array('href' => 'style.css'));
            echo $this->css(array('href' => 'bootstrap.css'));

        ?>
        
         


        <script>
            
        </script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>     
<script>
jQuery(function () {
    var page = location.pathname.split().pop();
    //alert(page);

    $('#myTab a[href="<?php echo 'http://' . filter_input(INPUT_SERVER, 'HTTP_HOST') . filter_input(INPUT_SERVER, 'REQUEST_URI'); ?>"]').parent(this).addClass('active');

});
</script>
<script>
    $(document).ready(function(){
        //alert($('body').height());
        if ($("body").height() < $(window).height()) {
            document.querySelector('footer').style = 'position:absolute;';
        }
    });
      
</script>

         
    </head>
    <body>
        <header style="">
            <?php echo $header; ?> 
        </header>
       
        <div class="container" id="content" style="max-width:700px;">
            <?php echo $content; ?>  
        </div>
<!--        <div class="container" id="content" style="width:60%" >
             
        </div>-->
            
            		
        <footer>
        <?php echo $footer; ?>
        </footer>
		<script>
            //$(document).ready(function(){
                //var height_diff = $( window ).height() - $( 'body' ).height();
                var height_diff = $( window ).height() - $( 'header' ).height() - $( 'footer' ).height();
                if ( $( window ).height() > $( 'body' ).height() ) {
                    $( '#content' ).css( 'height', height_diff );
                    //$( 'footer' ).css( 'margin-top', height_diff );
                }
            //});
        </script>
    </body>
</html>		

<?php  //echo '<pre>' . print_r($this->isAllowed() ,1) . '</pre>' ?>

