<!doctype html>

<!--<html class="no-js" lang="">-->
<html lang="pl">
    <head>
        <title>Tytuł testowy</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <?php 
            //echo $this->metaTitle(array('title' => 'Tytuł testowy'));
            
            echo $this->js(array('src' => 'bootstrap.js'));
            echo $this->js(array('src' => 'jquery-3.1.1.js'));
            echo $this->js(array('src' => 'bootstrap.min.js'));
            echo $this->js(array('src' => 'my.js'));
            //echo $this->js(array('src' => 'jquery-ui-1.8.18.custom.min.js'));
            //echo $this->js(array('src' => 'jquery-1.7.1.min.js'));
            
            
            echo $this->css(array('href' => 'style.css'));
            //echo $this->css(array('href' => 'jquery-ui.css'));
            echo $this->css(array('href' => 'datepicker.css'));
            echo $this->css(array('href' => 'normalize.css'));
            echo $this->css(array('href' => 'bootstrap.css'));
            echo $this->css(array('href' => 'bootstrap-theme.css'));
            
            
        ?>

<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>     
<script>
jQuery(function () {
    var page = location.pathname.split().pop();
    //alert(page);

    $('#myTab a[href="<?php echo 'http://localhost' . $_SERVER['REQUEST_URI']; ?>"]').parent(this).addClass('active');

});
</script>


<style>
    body, html {

        height: 100%;
    }
</style>
         
    </head>
    <body>
        
       
<?php 
    if(!empty($content))
    {
        echo $content;
    }
?>
     
    </body>
</html>
