<!--action="<?php //echo URL; ?>/login"-->
<?php if(empty($this->isAllowed('logged'))) { ?>

<center>
<div class="login-main" id="login-form" method="post">
    <div class="alert alert-danger" style="display:none" id="errors-bad">
            <a  class="close" id="alert-close" aria-label="close">&times;</a>
            <div id="err-txt-log"></div>    
    </div>
    <form>
        
        <h2 style="text-align: center;font-size: 24px;">Logowanie</h2>
        <div class="form-group" style="text-align: left;">
            <label>Email:</label>
            <div><input type="text" name="login" id="login" class="form-control" /></div>
        </div>
        <div class="form-group"  style="text-align: left;">
            <label>Hasło:</label>
            <div><input type="password" name="passwd" id="passwd" class="form-control" /></div>
        </div>
        <div style="text-align: right;"><input type="button" class="btn btn-primary" name="logowanie" id="logowanie" value="Zaloguj" /></div>
    </form>
</div>
    <div class="login-opt" style="margin-top:20px">
        <a href="<?= URL; ?>/register" >Zarejestruj się</a> | <a href="<?= URL; ?>/lostpassword">Nie pamietasz hasła ?</a>
    </div>
    
</center>
<?php } else { ?>


Logowanie przebiegło pomyślnie.<br />  
Aby zobaczyć swój profil kliknij <a href="<?= URL; ?>/profil">tutaj</a>.

<?php } ?>
<script>
    $(document).ready(function () {
        $("#logowanie").click(function () {
            var login = $("#login");
            var password = $("#passwd");
            var logow = $("#logowanie");

// Checking for blank fields.
            if (login.val().length === 0 || password.val().length === 0) {
//                $('input[type="text"],input[type="passwd"]').css("border", "2px solid red");
//                $('input[type="text"],input[type="passwd"]').css("box-shadow", "0 0 3px red");
                $("#errors-bad").slideDown(300);
                $('#err-txt-log').text('Oba pola muszą być wypełnione!');
                //alert("Please fill all fields...!!!!!!");
                //alert(logow);
            } else {
                $.post("<?=URL;?>/login", {login: login.val(), passwd: password.val(), logow: logow.val()},
                        function (data) {
                            /*
                             * walidacja email, jeśli logowanie za pomocą emaila
                             */
//                            if (data === 'Invalid Email.......') {
//                                login.parent(this).addClass('has-danger');
//                                alert(data);
//                            } 
                            if (data === 'Zły login i/lub hasło!') {
                                
                                $("#errors-bad").slideDown(300);
                                $('#err-txt-log').text(data);
                            } else if (data === 'Pomyślnie zalogowano.') {
                                //$("form")[0].reset();
                                login.parent(this).addClass('has-success');
                                password.parent(this).addClass('has-success');
                                
                                //$("#errors-bad").removeClass("alert-danger").addClass("alert-success").slideDown(300);
                                //$('#err-txt-log').text('Pomyślnie zalogowano. Zostaniesz przeniesiony za 3 sec.');
                                
                                $("#errors-bad").slideUp(300);
                                
                                
                                window.setTimeout(function(){location.reload()},2000)
                                //location.reload();
                                
                                //alert(data);
                                
                                <?php //header('location: ' . URL ); ?>
                            } else {
                                $("#errors-bad").slideDown(300);
                                $('#err-txt-log').text('Ops. Coś poszło źle.');
                            }
                        });
            }
        });
        /*
        * Alert close
         */
        $("#alert-close").parent().click(function(){
            $(this).slideUp(300);
        });
        
        $('form input').keypress(function(e){
            var code = e.keyCode || e.which;
            if(code === 13){
                $("#logowanie").click();
            }
        });
    });
</script>