

            <div style="padding-bottom: 20px;">
                <div style=""><h2><?= $post['title']; ?></h2></div>
                <div style="float:left;"><span class="glyphicon glyphicon-user"></span> <?= $post['author']; ?></div>
                <div style="float:right"><span class="glyphicon glyphicon-calendar"></span> <?= $post['date_create']; ?></div>
            </div>
            <dic class="clearfix"></dic>
            <div style="margin: 30px 0 30px 0;">
                <?= $post['content']; ?>

            </div>
            <div style="text-align: center">
                <a href="javascript:history.back()">Powrót</a>
            </div>


