
        <?php foreach($posts as $k => $post): ?>
        <div style="border-bottom: 1px solid #000">
            <form action="<?= URL; ?>/blog/article/<?= $post['id']; ?>" method="post">
            <div style="padding-bottom: 20px;">
                <div style=""><h3><?= $post['title']; ?></h3></div>
                <div style="float:left;"><span class="glyphicon glyphicon-user"></span> <?= $post['author']; ?></div>
                <div style="float:right"><span class="glyphicon glyphicon-calendar"></span> <?= $post['date_create']; ?></div>
            </div>
            <dic class="clearfix"></dic>
            <div style="margin: 30px 0 30px 0;">
                <?php 
                
                if(strlen($post['content']) > 550)
                {
                    echo substr($post['content'], 0, 550) . ' ... '; 
                    echo '<a href="' . URL . $this->url('blog', ['action' => 'article', 'param' => $post['id'] ]) . '">Czytaj dalej...</a>';
                } else {
                    echo $post['content'];
                }
                
                ?>

                
            </div>
        </form>
            
        </div>
        <?php endforeach; ?>
       

<script>
    jQuery(document).ready(function() {
        jQuery("#target-content").load("pagination.php?page=1");
        jQuery("#pagination li").live('click',function(e){
        e.preventDefault();
            jQuery("#target-content").html('loading...');
            jQuery("#pagination li").removeClass('active');
            jQuery(this).addClass('active');
            var pageNum = this.id;
            jQuery("#target-content").load("pagination.php?page=" + pageNum);
        });
    });
</script>