
        <?php foreach($posts as $k => $post): ?>
        <div style="border-bottom: 1px solid #000">
            <form action="<?= URL; ?>/blog/article/<?= $post['id']; ?>" method="post">
            <div style="padding-bottom: 20px;">
                <div style=""><h3><?= $post['title']; ?></h3></div>
                <div style="float:left;"><span class="glyphicon glyphicon-user"></span> <?= $post['author']; ?></div>
                <div style="float:right"><span class="glyphicon glyphicon-calendar"></span> <?= $post['date_create']; ?></div>
            </div>
            <dic class="clearfix"></dic>
            <div style="margin: 30px 0 30px 0;">
                <?php 
                
                if(strlen($post['content']) > 550)
                {
                    echo substr($post['content'], 0, 550) . ' ... '; 
                    echo '<a href="' . URL . $this->url('blog', ['action' => 'article', 'param' => $post['id'] ]) . '">Czytaj dalej...</a>';
                } else {
                    echo $post['content'];
                }
                
                ?>

                
            </div>
        </form>
            
        </div>
        <?php endforeach; ?>
        <?php 
           
        ?>
        <div>
            <center>
            <nav aria-label="Page navigation">
                <ul class="pagination">
                    <li class="<?php if($page-1 == 0){ echo 'disabled'; } ?>" >
                        <a href="<?= URL; ?>/blog/wpisy/<?= $page-1;  ?>" aria-label="Previous" >
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <?php if($ile >1){ ?>
                    <?php for($i = 1; $i < $ile; $i++): ?>
                    <li class="<?php if($page==$i){ echo 'active'; } ?>"><a  href="<?= URL; ?>/blog/wpisy/<?= $i; ?>"><?= $i; ?></a></li>
                    <?php endfor; ?>
                    <?php } else { ?>
                    <li class="active"><a  href="<?= URL; ?>/blog/wpisy/<?= $ile; ?>"><?= $ile; ?></a></li>
                    <?php } ?>
                    
                    <li class="<?php if($page+1 >= $ile){ echo 'disabled'; } ?>" >
                        <a href="<?= URL; ?>/blog/wpisy/<?= $page +1;  ?>" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
            </center>
        </div>


<script>
    $('.pagination li.disabled a').click(function(event){
        event.preventDefault();
    });
</script>