<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Strony <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="fa fa-file-text"></i> Strony
            </li>
        </ol>
    </div>
</div>

<div class="panel panel-default">

    <div class="panel-body">
          <a href="<?= URL . $this->url('admin', array('controller' => 'pages', 'action' => 'new')); ?>" class="btn btn-primary">Nowa</a> <!-- | 
          <a href="<?= URL . $this->url('admin', array('controller' => 'pages', 'action' => 'edit')); ?>" class="btn btn-sm btn-info">Edytuj</a> | 
          <a href="<?= URL . $this->url('admin', array('controller' => 'pages', 'action' => 'delete')); ?>" class="btn btn-sm btn-warning">Usuń</a> -->
    </div>

    <table class="table table-hover">
        <thead>
            <th>#</th>
            <th>Tytuł</th>
            <th>Data dodania</th>
            <th>Slug</th>
            <th>Status</th>

        </thead>
        <tbody>
            <?php foreach($posts as $k => $post): ?>
            <tr id="tests">
                <td style="width:10px"><input type="checkbox" name="id_post[]" value="<?= $post['id']; ?>" /></td>
                <td style="width:45%">
                    <?= $post['title']; ?>
                    <div id="ter" class="hidden">
                        <a href="<?= URL . $this->url('admin', array('controller' => 'pages', 'action' => 'edit', 'param' => $post['id'])); ?>" >Edytuj</a> | 
                        <a href="<?= URL . $this->url('admin', array('controller' => 'pages', 'action' => 'delete', 'param' => $post['id'])); ?>" style="color:red;" >Usuń</a> | 
                        <a href="<?= URL . $this->url('pages', array('slug' => $post['name'], 'id' => $post['id'])); ?>" >Zobacz</a>

                    </div>
                </td>
                <td><?= $post['date_create']; ?></td>
                <td><?= $post['name']; ?></td>

                <td><?= $post['status']; ?></td>

            </tr>
            <?php endforeach; ?>
        </tbody>
    </table>
</div>

<script>
    //$(document).on('live', function(){
        $('tr#tests').mouseenter(function(){
            
            $('div#ter', this).removeClass('hidden');
        }).mouseleave(function(){
            $('div#ter', this).addClass('hidden');
        });
    //});
</script>