<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Nowa strona <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="">
                <i class="fa fa-file-text"></i> <a href="<?= URL . $this->url('admin', array('controller' => 'pages')); ?>">Strony</a>
            </li>
            <li class="active">
                <i class="fa fa-file-o "></i> Nowa
            </li>
        </ol>
    </div>
</div>

<form action="<?= URL . $this->url('admin', ['controller' => 'pages', 'action' => 'new' ]); ?>" method="post">
    <div class="form-group">
        <label>Tytuł <small><i>Tytuł strony</i></small></label>
        <input class="form-control" type="text" name="title" style="width:30%" />
    </div>
    
    <div class="form-group" >
        <label>Content</label>
        
        
        
       <textarea name="content" id="editContent" class="form-control" style="max-width: 100%;max-height: 500px; min-width: 100%; min-height: 400px;"></textarea>
    </div>
    <div class="form-group">
        <label>Slug</label> <small><i>nazwa(url), widoczny w linkach</i></small>
        <input class="form-control" type="text" name="name" style="width:30%" />
    </div>
    
    <div class="form-group">
        <label>Status</label>
        <select class="form-control" name="status" style="width:30%">
            <option value="publish" >Widoczna</option>
            <option value="unpublish" >Niewidoczna</option>
        </select>
    </div>
    <div class="form-group">
        <label>Autor</label>
        <select class="form-control" name="author" style="width:30%">
            
            <?php foreach($users as $k=>$user ){ ?>
            <option <?php if($this->isAllowed('author') == $user['id']) { echo 'selected'; } ?> value="<?= $user['id']; ?>" ><?php if(!empty($user['display_name'])) { echo $user['display_name']; } else { echo $user['login']; } ?></option>
            <?php } ?>
        </select>
    </div>
    <div class="form-group" style="width:50%">
        <label>[Meta - Title]</label>
        <input class="form-control" type="text" name="meta_title"  />
    </div>
    <div class="form-group" style="width:50%">
        <label>[Meta - Keywords]</label>
        <input class="form-control" type="text" name="meta_keywords"  />
    </div>
    <div class="form-group">
        <label>[Meta - Description]</label>
        <textarea name="meta_description" class="form-control noresize" style="height: 100px;width: 50%"></textarea>
    </div>
    <div class="form-group" style="width:50%">
        <label>Dołączenie gotowego modułu</label>
        <select class="form-control" name="modul">
            <option value="">Wybierz</option>
            <?php foreach($modul as $k => $v): ?>
            <option value="<?= $k; ?>" <?php //if($post['modul'] === $k){ echo 'selected'; } ?> ><?= $v; ?></option>
            
            <?php endforeach; ?>
        </select>
        
    </div>
    <div>
        <input type="submit" name="submit" value="Dodaj" class="btn btn-default" />
    </div>
</form>