<div class="footer">
    <div class="footer-top">
        <div class="box box-one">
            <?= $this->blocks('footer-one'); ?>
        </div>
        <div class="box box-two">
            <?= $this->blocks('footer-second'); ?>
        </div>
    </div>
    <div class="clearfix"></div>
    <div class="footer-bottom">
        <?= $this->pagefooter ?>
    </div>
</div>
