
<?php if ($this->isAllowed('logged')) { ?>
    <div class="adminsbar" >
        <div class="adm-nav">
            <ul class="" style="">
        <?php if ($this->isAllowed('role') == 'admin'): ?>  
            
                <li >
                    <a href="<?= URL . $this->url('admin') ?>" class="navbar-link" rel="notfollow">Administracja</a>
                </li>
                
            
        <?php endif; ?>  
                <li>
                    Zalogowany jako: <a href="<?= URL ?>/profil"><b><?= $this->isAllowed('displayName'); ?></b></a>. | 
                    <a href="<?= URL . $this->url('logout'); ?>" class="navbar-link" rel="notfollow">Wyloguj</a>
                </li>
            </ul>
        </div>
        
<!--        <div class="navbar-text navbar-right" id="profil-bar" style="margin-top: 0;margin-bottom: 0;">
            Zalogowany jako: <a href="<?= URL ?>/profil"><b><?= $this->isAllowed('displayName'); ?></b></a>. | 
            <a href="<?= URL . $this->url('logout'); ?>" class="navbar-link">Wyloguj</a>

        </div>-->
    </div>

<style scoped>
    @media (min-width:768px){
        .header {
            margin-top: 32px !important;
        }
    }
</style>
<?php } ?>
<div class="header" <?php if ($this->isAllowed('logged')) { /*echo 'style="margin-top:32px;"';*/ } ?> >
    <div class="nav-bar">
        <div class="navbar-header" style="">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tabnav" aria-expanded="false">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
         </button>
        </div>
        <div class="collapse" id="tabnav" >
            
        
        <ul class="nav-header" id="myTab">
            <li>
                <a href="<?= URL; ?>/">HOME</a>
            </li>
            <?php foreach ($this->menu('main')->getMenu(0) as $key => $value): ?>
                    <li>
                        <a href="<?php 
                        if (empty($value['url'])) { 
                            echo URL . $this->url( 'pages', [ 'slug' => $value['post_slug'], 'action' => $value['post_id'] ] ); 
                            
                        } else { 
                            echo $value['url']; 
                            
                        } ?>" <?php if (!empty($value['url'])) { ?>target="<?= $value['target'];?>"<?php } ?> id="<?= $value["id"]; ?>" rel="dofollow" >
                            <?= $value['name']; ?> 
                        </a>
                    </li>
            <?php endforeach; ?>
        </ul>
        </div>
    </div>
    
    
</div>

<div class="logo">
    <div class="logos">
        <div class="logo-text">
			<h1>
				<a href="<?= URL ?>" alt="Strona główna" title="Strony internetowe, prace programistyczne, wizytówki internetowe" >
				<strong><?= $this->meta_title; ?></strong>
				<small>- <?= $this->page_slang; ?></small>
				</a>
			</h1>
            <!--<span class="logo-title"><?= $this->meta_title; ?></span>
            <p style="margin:0;"><?= $this->page_slang; ?></p>-->
        </div>
        <div class="logo-img" style="text-align: center">
            <img src="<?= URL; ?>/img/logos.png" alt="Strony internetowe, prace programistyczne - itdee.pl" title="Strony internetowe, prace programistyczne" width="200px">
             
        </div>
        
    </div>
    
</div>
<script>

    
	
</script>