<?php // include 'css/test.css'; ?>
<!doctype html>

<!--<html class="no-js" lang="">-->
<html lang="pl">
    <head>
        <title><?php if(!empty($this->page_title)){ echo $this->page_title . ' - '; } echo $this->meta_title; ?> - <?= $this->page_slang; ?></title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
        <meta name="description" content="<?= $this->meta_description; ?>">
        <meta name="keywords" content="<?= $this->meta_keywords; ?>">
        <meta name="author" content="Piotr Tarkowski"> 
		<link rel="icon"  href="/img/favicon.ico" sizes="16x16" />
		<meta name="google-site-verification" content="Bw_0Umo3Xs3JDgnI6yrzuAVrf7GKaID-6WEIpDpkqsI" />
		<script>
			(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
			(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
			m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
			})(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

			ga('create', 'UA-101739743-1', 'auto');
			ga('send', 'pageview');

		</script>
    </head>
    <body>
        <header>
            <?= $header; ?>
        </header>
        <div id="content">
            <?= $content; ?>
        </div>
        
        <footer>
            <?= $footer; ?>
        </footer>
		

		
    
<?php 
echo $this->css(array('href' => 'test.css'));
echo $this->css(array('href' => 'wsp.css')); 
echo $this->css(array('href' => 'carousel.css'));

?>
<?php

	echo $this->js(array('src' => 'jquery-3.1.1.min.js'));
    echo $this->js(array('src' => 'my.js'));
    echo $this->js(array('src' => 'car.js'));
	echo $this->js(array('src' => 'bootstrap.min.js'));
?>
<script>
        $(function(){
            var page = location.pathname.split().pop();
            //alert(page);

            $('#myTab a[href="<?php echo 'http://' . filter_input(INPUT_SERVER, 'HTTP_HOST') . filter_input(INPUT_SERVER, 'REQUEST_URI'); ?>"]').parent(this).addClass('active');

        });
        </script>
<script> 

            //$(document).ready(function(){
                //var height_diff = $( window ).height() - $( 'body' ).height();
                var height_diff = $( window ).height() - $( 'header' ).height() - $( 'footer' ).height();
                if ( $( window ).height() > $( 'body' ).height() ) {
                    $( '#content' ).css( 'height', height_diff );
                    //$( 'footer' ).css( 'margin-top', height_diff );
                }
            //});
			//$(document).ready(function(){
	$('.navbar-toggle').click(function(){
        $('#tabnav').slideToggle(600);
    //});
});
        </script>
	</body>
</html>