<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Edycja użytkownika <small></small>
        </h3>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="">
                <i class="fa fa-users"></i> <a href="<?= URL; ?>/admin/users">Użytkownicy</a>
            </li>
            <li class="active">
                <i class=""></i> Edycja
            </li>
        </ol>
    </div>
</div>

<?php 
if(!empty($user)) {
extract($user); 
?>
<form action="<?= URL; ?>/admin/users/edit" method="post" style="width:45%">
    <fieldset>
        <legend>Dane logowania</legend>
        <div class="form-group">
            <input type="hidden" name="uid" value="<?= $uid; ?>" />
            <input type="hidden" name="udid" value="<?= $udid; ?>" />
            <label for="nazwa">Nazwa użytkownika</label>
            <input type="text" class="form-control" name="login" id="nazwa" value="<?= $login; ?>" />
        </div>
        <div class="form-group">
            
            <input type="checkbox" class="" id="ch-pass-zm" name="ch-pass-zm" />
            <label>Zmień hasło</label>
        </div>
        <div class="form-group" id="pass" style="display:none">
            <label>Haslo</label>
            <input type="password" class="form-control" name="password" />
        </div>
        

    </fieldset>
    <fieldset>
        <legend>Dane Konta</legend>
        <div class="form-group">
            <label>Imie</label>
            <input type="text" class="form-control" name="fname" value="<?=$imie;?>" />
        </div>
        <div class="form-group">
            <label>Nazwisko</label>
            <input type="text" class="form-control" name="lname" value="<?=$nazwisko;?>" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" value="<?=$email;?>" />
        </div>
        <div class="form-group">
            <label>Rola</label>
            <select class="form-control" name="rola">
                <option>wybierz</option>
                <?php foreach ($roles as $k => $v): ?>
                    <option <?php if($v['id'] == $role_id){ echo 'selected'; } ?> value="<?= $v['id']; ?>"><?= $v['role_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </fieldset>
    <center>
        <input type="submit" class="btn btn-primary" name="submit" value="Zapisz" />
    </center>
</form>
<?php } else { ?>
Nie znaleziono użytkownika.
<?php } ?>
<script>
    $('#ch-pass-zm').click(function(){
        if($(this).prop('checked') === true)
        {
            $('#pass').show();
            
        } else {
            $('#pass').hide();
        }
    });
</script>