


                <div class="row">
                    <div class="col-lg-12">
                        <h1 class="page-header">
                            Użytkownicy <small></small>
                        </h1>
                        <ol class="breadcrumb">
                            <li class="">
                            <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
                        </li>
                            <li class="active">
                                <i class="fa fa-user"></i> Użytkownicy
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- /.row -->

<!--                <div class="row">
                    <div class="col-lg-12">
                        <div class="alert alert-info alert-dismissable">
                            <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                            <i class="fa fa-info-circle"></i>  <strong>Like SB Admin?</strong> Try out <a href="http://startbootstrap.com/template-overviews/sb-admin-2" class="alert-link">SB Admin 2</a> for additional features!
                        </div>
                    </div>
                </div>-->

  
                

<div class="clearfix"></div>
<div class="panel panel-primary">
    <div class="panel-body">
        
        <div class="admin-user-menu">
            <ul>
<!--                <li><a class="btn btn-success btn-sm" id="btn-new">Nowy</a></li>-->
                <li><a href="<?=URL;?>/admin/users/new" class="btn btn-success btn-sm">Nowy</a></li>
                <li><label>Szukaj:</label><input type="text" class="search" /><div id="result" style="position:absolute;width:500px;padding:10px;display:none;margin-top:-1px;border-top:0px;overflow:hidden;border:1px #CCC solid;background-color: white;"></div></li>
                <li><a class="btn btn-sm btn-warning clsFiltr">Czyść filtr</a></li>
            </ul>
        </div>
        
    </div>
    <table class="table table-responsive table-hover" id="tblUsers">
        <thead>

            <th>Nazwa</th>
            <th>Rola</th>
            <th>Email</th>
            <th>Czy aktywny</th>
        </thead>
        <tbody>
            <?php foreach ($users as $key => $value): ?>
                <tr id="<?= $value['id']; ?>">
                    <td><?= $value['login']; ?></td>
                    <td><?= $value['role_name']; ?></td>
                    <td><?= $value['email']; ?></td>
                    <td><?php if($value['is_active'] == 1){ ?> <span class="label label-success">Tak</span><?php } else { ?> <span class="label label-danger">Nie</span><?php } ?></td>
                    <td>
<!--                        <a class="btn btn-primary btn-xs btn-edit" id="<?= $value['id']; ?>">Edycja</a> -->
                        <a class="btn btn-primary btn-xs" href="<?=URL;?>/admin/users/edit/<?= $value['id']; ?>">Edycja</a> 
                        <a class="btn btn-danger btn-xs btn-usun" id="<?= $value['id']; ?>">Usuń</a>
                    </td>
                </tr>
            <?php endforeach; ?>
        </tbody>
    </table>

</div>

<div class="modal fade" tabindex="-1" role="dialog" id="myModal" aria-labelledby="myLargeModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title"></h4>
            </div>
            <form id="myForm">
            <div class="modal-body">
                <div class="alert alert-danger" id="err-user" style="display: none"></div>
                    <input type="hidden" id="uid" value="" />
                    <input type="hidden" id="udid" value="" />
                    <fieldset>
                        <legend>Dane Logowania</legend>
                        <div class="form-group form-group-sm">
                            <label class="control-label">Nazwa Użytkownika <span style="color:red;">*</span></label>
                            <input type="text" class="form-control" placeholder="Nazwa użytkownika" id="name" value="" required />
                            <div class="form-control-static" id="name-static" style="display: none;"></div>
                        </div>
                        <div class="form-group form-group-sm">
                            <label>Hasło <span style="color:red;">*</span></label>
                            <input type="password" class="form-control" placeholder="Hasło" id="passwd" value="" required />
                        </div>
                        <div class="">
                            <input type="checkbox" class="" placeholder="hjk" id="active" value="1" />
                            <label for="active">Konto aktywne</label>
                            
                        </div>
                    </fieldset>

                    <fieldset>
                        <legend>Dane konta</legend>
                        <div class="form-group form-group-sm">
                            <label>Imię</label>
                            <input type="text" class="form-control" placeholder="Imie" id="fname" value="" />
                        </div>
                        <div class="form-group form-group-sm">
                            <label>Nazwisko</label>
                            <input type="text" class="form-control" placeholder="Nazwisko" id="sname" value="" />
                        </div>

                        <div class="form-group form-group-sm">
                            <label>E-mail <span style="color:red;">*</span></label>
                            <input type="email" class="form-control" placeholder="email" id="email" value="" required />
                        </div>
                        <div class="form-group form-group-sm">
                            <label>Rola</label>
                            <select class="form-control" id="role">
                                
                                <?php foreach($role as $k => $v): ?>
                                <option value="<?= $v['id'];?>"><?= $v['role_name']; ?></option>
                                <?php endforeach; ?>
                            </select>
                        </div>
                    </fieldset>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" id="btn-save" name="save">Save changes</button>
            </div>
            </form>
        </div><!-- /.modal-content -->
    </div>
  
</div>
<script>
   
$(function(){
$(".search").keyup(function() 
{ 
var searchid = $(this).val();
var dataString = 'search='+ searchid;
if(searchid.length === 0)
{
    $("#result").hide(); 
    $("#tblUsers tbody tr").show();
}
if(searchid.length > 0)
{
    $.ajax({
    type: "POST",
    url: "<?=URL;?>/admin/users/search",
    data: dataString,
    cache: false,
    success: function(html)
    {
        //alert(html);
        var sa = $.parseHTML(html)
        $("#result").html(sa).show();
        
    }
    });
}return false;    
});
}); 

$(document).on("click", function(e) { 
    var clicked = $(e.target);
    
    if (! clicked.hasClass("search")){
        $("#result").hide(); 
        //$(".search").val('');
    } 
    if(clicked.hasClass("btn-search"))
    {
        var id = $(clicked).attr('id');
        //alert(id);
        $(".search").val(clicked.text());
        $('#tblUsers tbody tr').each(function(){
            $(this).show();
            if($(this).attr('id') !== id)
            {
                $(this).hide();
            
            }
        });
    }
    if(clicked.hasClass('clsFiltr'))
    {
        $('#tblUsers tbody tr').each(function(){
            
            $(".search").val('');
            $(this).show();
            
            
        });
    }
}); 



</script>



<script type="text/javascript">
$(document).ready(function () {
        var modal = $('#myModal');

        
        $('.btn-edit').click(function () {
            modal.modal('show');
            var id = $(this).attr('id');
            //alert('fdhf');
            $('#btn-save').val('Save').prop('name','save').text('Save');
            
            //alert(d);
            
            
            $.ajax({

                //crossDomain: true,
                url: '<?=URL;?>/admin/users/index/' + id,
                type: 'get',
                //data: {id: id},
                dataType: "json",
                success: function (data) {

                    if (data.status === 1) {
                        $('h4.modal-title').text('Edycja Użytkownika');
                        $("input#uid").val(data.user.id),
                        $("input#udid").val(data.user.udid),
                        //$("input#name").val(data.user.login);
                        
                        $("input#name").prop('disabled',true).val(data.user.login);
                        //$("input#name").parent(this).removeClass("form-group-sm").addClass('form-group-lg');
                        
                        
                        $("input#email").val(data.user.email);
                        $("input#fname").val(data.user.imie);
                        $("input#sname").val(data.user.nazwisko);
                        $("#role option").each(function(){
                            if($(this).val() === data.user.role_id)
                            {
                                $(this).prop('selected', true);
                            }
                        });
                        
                        if(data.user.is_active === '1') 
                        {
                            $("input#active").prop('checked',true);
                        } else {
                            $("input#active").prop('checked',false);
                        }
                        //
                        
                    } else {
                        alert(data.message);
                    }
                }
            });

        });
        
        $('#btn-new').click(function(){
            modal.modal('show');
            
            $('#myForm input').val('');
            if($('#active').prop('checked'))
            {
                $('#active').prop('checked',false);
                
            }
            
            
            $("input#name").prop('disabled', false);
            
            
            $('select#role').val(1);
            $('h4.modal-title').text('Nowy użytkownik');
            $('#btn-save').val('Dodaj').prop('name','dodaj').text('Dodaj');
            
            
            
        });
        
        $('.btn-usun').click(function(){
            
            $.post("<?=URL;?>/admin/users/usun", {id: $(this).attr('id'), delete: true}, function(result){
                var data = $.parseJSON(result);
                        if(data.status === 1)
                        {
                            //alert(dat.message);
                            location.reload();
                        }
            });
            
        });
        
        $('#btn-save').click(function() {
            var btn = $('#btn-save');
            
            if($('#active').prop('checked'))
            {
                $('#active').prop('value',1);
            } else {
                $('#active').prop('value',0);
            }
            //alert($('#active').val());
            
            if($('#btn-save').attr('name') === 'dodaj') 
            {
               
                if($('#name').val() === '' || $('#passwd').val() === '' || $('#email').val() === '' )
                {
                    $('#err-user').slideDown(300);
                    $('#err-user').text('trzeba wypełnić obowiązkowe pola.');
                } else {
                    $.post("<?=URL;?>/admin/users/nowy",
                    {
                        login: $('#name').val(),
                        passwd: $('#passwd').val(),
                        active: $('#active').val(),
                        email: $('#email').val(),
                        fname: $('#fname').val(),
                        sname: $('#sname').val(),
                        role: $('#role').val(),
                        new_user: $('#btn-save').val()
                    }, function(result){
                        //alert(result);
                        var data = $.parseJSON(result);
                        if(data.status === 1)
                        {
                            //alert(dat.message);
                            location.reload();
                        }
                    
                    });
                }
                
            } else if($('#btn-save').attr('name') === 'save')
            {
                
                
                $.post("<?=URL;?>/admin/users/edycja",
                {
                    uid: $('#uid').val(),
                    active: $('#active').val(),
                    login: $('#name').val(),
                    passwd: $('#passwd').val(),
                    email: $('#email').val(),
                    fname: $('#fname').val(),
                    sname: $('#sname').val(),
                    role: $('#role').val(),
                    udid: $('#udid').val(),
                    save: $('#btn-save').val()
                }, function(result){
                    var data = $.parseJSON(result);
                    if(data.status === 1)
                        {
                            //alert(dataa.message);
                            location.reload();
                        }
                });
            }
        });

    });
</script>

