<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Nowy użytkownik <small></small>
        </h3>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="">
                <i class="fa fa-users"></i> <a href="<?= URL; ?>/admin/users">Użytkownicy</a>
            </li>
            <li class="active">
                <i class=""></i> Nowy
            </li>
        </ol>
    </div>
</div>

<form action="<?= URL; ?>/admin/users/new" method="post" style="width:45%">
    <fieldset>
        <legend>Dane logowania</legend>
        <div class="form-group">
            <label for="nazwa">Nazwa użytkownika</label>
            <input type="text" class="form-control" name="login" id="login" required/>
        </div>
<div class="alert alert-danger" style="display:none" id="errors-pass">
    <a class="close" id="alert-close" aria-label="close">&times;</a>
    <div></div> 
</div>
        <div class="form-group">
            <label>Haslo</label>
            <input type="password" class="form-control" name="password" id="password" required/>
        </div>
        <div class="form-group">
            <label>Powtórz hasło</label>
            <input type="password" class="form-control" name="repassword" id="repassword" required/>
        </div>

    </fieldset>
    <fieldset>
        <legend>Dane Konta</legend>
        <div class="form-group">
            <label>Imie</label>
            <input type="text" class="form-control" name="fname" />
        </div>
        <div class="form-group">
            <label>Nazwisko</label>
            <input type="text" class="form-control" name="lname" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" required/>
        </div>
        <div class="form-group">
            <label>Rola</label>
            <select class="form-control" name="rola">
                <option>wybierz</option>
                <?php foreach ($roles as $k => $v): ?>
                    <option value="<?= $v['id']; ?>"><?= $v['role_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </fieldset>
    

    <input type="submit" id="submit" name="submit" class="btn btn-primary" value="Dodaj" />
</form>

<script>
    $('#ch-firma-new').click(function(){
        if($(this).prop('checked') === true)
        {
            $('#firma').show();
            $('#slc-firma').hide();
            
        } else {
            $('#firma').hide();
            $('#slc-firma').show();
        }
    });
    
    $('#submit').click(function(e){
        var password = $('input#password').val();
        var repassword = $('input#repassword').val();
        if(password !== repassword)
        {
            e.preventDefault();
            $('#errors-pass').slideDown(500);
            $('#errors-pass div').text('Hasła nie pasują do siebie.');
        }
    });
    
    $('#btnSend').click(function(){
        var login = $('input#login').val();
        var password = $('input#password').val();
        var repassword = $('input#repassword').val();
        if(password !== repassword)
        {
            $('#errors-pass').slideDown(1000);
            $('#errors-pass div').text('Hasła nie pasują do siebie.');
        }
        
    });
    
    $('#alert-close').click(function(){
        $(this).parent().slideUp(1000);
        
    });
    
</script>