<div class="row">
    <div class="col-lg-12">
        <h3 class="page-header">
            Nowy użytkownik <small></small>
        </h3>
        <ol class="breadcrumb">

            <li class="">
                <i class="fa fa-users"></i> <a href="<?= URL; ?>/admin/users">Użytkownicy</a>
            </li>
            <li class="active">
                <i class=""></i> Nowy
            </li>
        </ol>
    </div>
</div>
<form action="<?= URL; ?>/admin/users/nowy" method="post" style="width:45%">
    <fieldset>
        <legend>Dane logowania</legend>
        <div class="form-group">
            <label for="nazwa">Nazwa użytkownika</label>
            <input type="text" class="form-control" name="login" id="nazwa" />
        </div>
        <div class="form-group">
            <label>Haslo</label>
            <input type="text" class="form-control" name="password" />
        </div>
        <div class="form-group">
            <label>Powtórz hasło</label>
            <input type="text" class="form-control" name="repassword" />
        </div>

    </fieldset>
    <fieldset>
        <legend>Dane Konta</legend>
        <div class="form-group">
            <label>Imie</label>
            <input type="text" class="form-control" name="fname" />
        </div>
        <div class="form-group">
            <label>Nazwisko</label>
            <input type="text" class="form-control" name="lname" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input type="text" class="form-control" name="email" />
        </div>
        <div class="form-group">
            <label>Rola</label>
            <select class="form-control" name="rola">
                <option>wybierz</option>
                <?php foreach ($roles as $k => $v): ?>
                    <option value="<?= $v['id']; ?>"><?= $v['role_name']; ?></option>
                <?php endforeach; ?>
            </select>
        </div>
    </fieldset>
    <fieldset>
        <legend>Dane Firmy</legend>
        <div class="form-group">
            <label>Nazwa Firmy</label>
            <input type="text" class="form-control" name="company_name" />
        </div>
        <div class="form-group">
            <label>Miasto</label>
            <input type="text" class="form-control" name="city" />
        </div>
    </fieldset>
    <input type="submit" name="submit" value="Dodaj" />
</form>
