<nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="<?=URL;?>">Home</a>
            </div>
            <!-- Top Menu Items -->
            <ul class="nav navbar-right top-nav">
<!--                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-envelope"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu message-dropdown">
                        <li class="message-preview">
                            <a href="#">
                                <div class="media">
                                    <span class="pull-left">
                                        <img class="media-object" src="http://placehold.it/50x50" alt="">
                                    </span>
                                    <div class="media-body">
                                        <h5 class="media-heading"><strong>John Smith</strong>
                                        </h5>
                                        <p class="small text-muted"><i class="fa fa-clock-o"></i> Yesterday at 4:32 PM</p>
                                        <p>Lorem ipsum dolor sit amet, consectetur...</p>
                                    </div>
                                </div>
                            </a>
                        </li>
                        
                        <li class="message-footer">
                            <a href="#">Read All New Messages</a>
                        </li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-bell"></i> <b class="caret"></b></a>
                    <ul class="dropdown-menu alert-dropdown">
                        <li>
                            <a href="#">Alert Name <span class="label label-default">Alert Badge</span></a>
                        </li>
                        
                    </ul>
                </li>-->
                <li class="">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><i class="fa fa-user"></i> <?= $this->isAllowed('displayName'); ?> <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="<?= URL . $this->url('profil'); ?>"><i class="fa fa-fw fa-user"></i> Profil</a>
                        </li>
<!--                        <li>
                            <a href="#"><i class="fa fa-fw fa-envelope"></i> Inbox</a>
                        </li>-->
                        <li>
                            <a href="#"><i class="fa fa-fw fa-gear"></i> Settings</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="<?= URL . $this->url('logout'); ?>"><i class="fa fa-fw fa-power-off"></i> Log Out</a>
                        </li>
                    </ul>
                </li>
            </ul>
            <!-- Sidebar Menu Items - These collapse to the responsive navigation menu on small screens -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav side-nav" id="myTab">
                    <li>
                        <a href="<?=URL . $this->url('admin');?>"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'setting']);?>"><i class="fa fa-fw fa-wrench"></i> Ustawienia</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'users']);?>"><i class="fa fa-fw fa-users"></i> Użytkownicy</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'menu', 'action' => 'edit']);?>"><i class="fa fa-fw fa-list"></i> Menu</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'pages']);?>"><i class="fa fa-fw fa-file-text"></i> Strony</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'posts']);?>"><i class="fa fa-fw fa-file-text"></i> Wpisy</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'block']);?>"><i class="glyphicon glyphicon-th-large"></i> Footer Block</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'slider']);?>"><i class="glyphicon glyphicon-film"></i> Front Slider</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'panel']);?>"><i class="glyphicon glyphicon-modal-window"></i> Front Panels</a>
                    </li>
                    <li>
                        <a href="<?=URL . $this->url('admin', ['controller' => 'layout']);?>"><i class="fa fa-fw fa-desktop"></i> Motyw</a>
                    </li>
                    
                    <!-- 
                    <li>
                        <a href="index.html"><i class="fa fa-fw fa-dashboard"></i> Dashboard</a>
                    </li>
                    
                    <li>
                        <a href="tables.html"><i class="fa fa-fw fa-table"></i> Tables</a>
                    </li>
                    <li>
                        <a href="forms.html"><i class="fa fa-fw fa-edit"></i> Forms</a>
                    </li>
                    <li>
                        <a href="bootstrap-elements.html"><i class="fa fa-fw fa-desktop"></i> Bootstrap Elements</a>
                    </li>
                    
                    <li>
                        <a href="javascript:;" data-toggle="collapse" data-target="#demo"><i class="fa fa-fw fa-arrows-v"></i> Dropdown <i class="fa fa-fw fa-caret-down"></i></a>
                        <ul id="demo" class="collapse">
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                            <li>
                                <a href="#">Dropdown Item</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="blank-page.html"><i class="fa fa-fw fa-file"></i> Blank Page</a>
                    </li>
                    <li>
                        <a href="index-rtl.html"><i class="fa fa-fw fa-dashboard"></i> RTL Dashboard</a>
                    </li>-->
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </nav>
