<!DOCTYPE html>
<html lang="pl">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="<?= $this->meta_description; ?>">
    <meta name="keywords" content="<?= $this->meta_keywords; ?>">
    <meta name="author" content="Piotr Tarkowski">

    <title>Admin - <?= $this->meta_title; ?></title>

    <!-- Bootstrap Core CSS -->
    

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
 
<?php 
            //echo $this->metaTitle(array('title' => 'Tytuł testowy'));
            
            echo $this->js(array('src' => 'bootstrap.js'));
            echo $this->js(array('src' => 'jquery-3.1.1.js'));
            
            echo $this->js(array('src' => 'my.js'));
            //echo $this->js(array('src' => 'jquery-ui-1.8.18.custom.min.js'));
            //echo $this->js(array('src' => 'jquery-1.7.1.min.js'));
            
            
            echo $this->css(array('href' => 'style.css'));
            echo $this->css(array('href' => 'admin.css'));
            //echo $this->css(array('href' => 'jquery-ui.css'));
            echo $this->css(array('href' => 'datepicker.css'));
            //echo $this->css(array('href' => 'normalize.css'));
            echo $this->css(array('href' => 'bootstrap.css'));
           // echo $this->css(array('href' => 'bootstrap-theme.css'));
            
            
        ?>

<script src='<?= URL ?>/tinymce/tinymce.min.js'></script>
<script src="<?= URL ?>/js/tinymce.cfg.js" ></script>
<!--    <script src="//cloud.tinymce.com/stable/tinymce.min.js"></script>-->
  
<script>

</script>

    <!-- Custom CSS -->
    <link href="<?=URL;?>/css/sb-admin.css" rel="stylesheet">

    <!-- Morris Charts CSS -->
    <link href="<?=URL;?>/css/plugins/morris.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="<?=URL;?>/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    
  <style type="text/css">
        @font-face {
            font-family: 'Glyphicons Halflings';
            src: url('<?=URL;?>/fonts/glyphicons-halflings-regular.eot');
        }
 </style>
<script>
jQuery(function () {
    var page = location.pathname.split().pop();
    //alert(page);

    $('#myTab a[href="<?php echo 'http://' . $_SERVER['HTTP_HOST'] . $_SERVER['REQUEST_URI']; ?>"]').parent(this).addClass('active');

});
</script>
</head>

<body>

    <div id="wrapper">

        <!-- Navigation -->
        <?= $header; ?>

        <div id="page-wrapper">

            <div class="container-fluid" id="content">

                <!-- Page Heading -->
                
                <!-- /.row -->

                <?= $this->content;  ?>
                <!-- /.row -->

            </div>
            <!-- /.container-fluid -->

        </div>
        <!-- /#page-wrapper -->

    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="<?=URL;?>/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="<?=URL;?>/js/bootstrap.min.js"></script>

    <!-- Morris Charts JavaScript -->
    <script src="<?=URL;?>/js/plugins/morris/raphael.min.js"></script>
    <script src="<?=URL;?>/js/plugins/morris/morris.min.js"></script>
    <script src="<?=URL;?>/js/plugins/morris/morris-data.js"></script>
    


</body>

</html>
