<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Bloki <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="glyphicon glyphicon-th-large"></i> Bloki
            </li>
            
        </ol>
    </div>
</div>
<?php
foreach($block as $k => $v)
{
    
}
?>
<div style="width: 100%;">
    
</div>
<div style="width:100%">

    <div class="panel panel-default" style="float:left;min-width:400px">
        <ul style="list-style: none;padding-left:0;">
            <?php foreach($blocks as $v): ?>
            <li>

                <ul class="sort" style="width: 100%">
                <?php 
                foreach($block as $l => $val): 
                    if($v == $val['position'])
                    {
                    ?>
                    
                    <li class="menu-cc" style="height:auto;width:auto;"><?//= $val['name']; ?>
                        <div id="titl" style="width: 100%">
                            <div style="float:left" id="titles"><?= $val['block_name']; ?></div>

                            <div class="clearfix" style="">

                                <a href="#block-edit-<?=$val['bid'];?>" type="button" id="menu-edit" class="fa fa-caret-down" style="width:30px;height: 20px;float:right;text-align: center"></a>
                            </div>
                        </div>
                        
                        <div class="" id="block-edit-<?=$val['bid'];?>" style="display: none;background-color: #e7e7e7;" >
                            <div class="panel-body" id="">
                                <form action="<?=URL;?>/admin/block/saveBlock/<?=$val['bid'];?>" method="post">
                                    <div>
                                        <i>Typ bloku:</i><br />
                                        <?//=$val['type'];?>
                                        <input type="radio" id="" name="type" id="typeR1" value="null" <?php if($val['type'] == null){ ?>checked="checked"<?php } ?> > Brak <br>
                                        <input type="radio" id="#selMenu-<?=$val['bid'];?>" name="type" id="typeR1" value="menu" <?php if($val['type'] == 'menu'){ ?>checked="checked"<?php } ?> > Menu <br>
                                        <input type="radio" id="#selCont-<?=$val['bid'];?>" name="type" id="typeR2" value="clear" <?php if($val['type'] == 'clear'){ echo 'checked'; } ?> > Tekst bez Ramek <br>
                                        <input type="radio" id="#selCont-<?=$val['bid'];?>" name="type" id="typeR2" value="text" <?php if($val['type'] == 'text'){ echo 'checked'; } ?> > Tekst z ramkanmi <br>
                                    </div>
                                    
                                    <div id="selMenu-<?=$val['bid'];?>" style="display: none">
                                        <i>Menu:</i>
                                        <select name="menu">
                                            <option value="">Brak</option>
                                            <?php foreach($bmenu as $k => $v): ?>
                                            <option value="<?= $v['id'] ?>"<?php if($val['menu_id'] == $v['id']){ echo 'selected'; } ?>><?= $v['name'] ?></option>
                                            <?php endforeach; ?>
                                        </select>

                                    </div>
                                    <div id="selCont-<?=$val['bid'];?>" style="display: none">
                                        <i>Content:</i>
                                        <select name="content">
                                            <option>Brak</option>
                                            <?php foreach($bcontent as $k => $v): ?>
                                            <option value="<?= $v['id'] ?>"<?php if($val['content_id'] == $v['id']){ echo 'selected'; } ?>><?= $v['title'] ?></option>
                                            <?php endforeach; ?>
                                        </select>

                                    </div>
                                    <div>

                                        <input type="submit" name="submit" value="Zapisz" />
                                    </div>
                                    
                                
                                </form>
                            </div>
                        </div>
                    </li>
                    
                <?php 
                    }
                endforeach;
                ?>
                </ul>
                <?//= $v['position'] ?>
            </li>
            <?php endforeach; ?>
        </ul>
    </div>
    <div class="panel panel-default" style="float:left;margin-left: 30px;min-width: 400px;">
        
        <div class="panel-body">
            <div id="">
                <i>Wybierz block do edycji</i> 
                <select name="menu" id="selMenu" style="width:auto;height: 30px;">
                    <option value="">Nowy Block</option>
                    <?php foreach ($bcontent as $k => $v): ?>
                        <?php // if (in_array($v['position'], $blocks)) { ?>
                            <option value="<?= $v['id']; ?>"> <?php // if ($ebloc == $v['bid']) { echo 'selected'; } ?> 
                            <?= $v['title']; ?> 
                            </option>
                        <?php // } ?>
                    <?php endforeach; ?>
                </select>

                <button type="button" id="btnContent" name="submit"  class="btn btn-default btn-sm" >Wybierz</button>
            </div>
            <div id="new" style="">
                <h3>Dodawanie nowego bloku tekstowego</h3>
                <form method="post" action="<?=URL;?>/admin/block/newText">
                    <div class="form-group">
                        <i>Tytuł</i>
                        <input type="text" name="title" class="form-control" />

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="showTitle" class="" value="1" /> 
                        <i>Zaznacz jeśli tytuł bloku na być widoczny</i>


                    </div>


                    <div class="form-group">
                        <i>Tekst</i>
                        <textarea class="form-control " name="text" style="resize: none;height: 300px;"></textarea>
                    </div>
                    <input type="submit" name="submit" value="Dodaj" />
                </form>
            </div>
            <div id="edit" style="display:none">
                <form method="post" action="<?=URL;?>/admin/block/saveText">
                    <h3>Edycja bloku tekstowego</h3>
                    <input type="hidden" name="id" id="editId"  />
                    <div class="form-group">
                        <i>Tytuł</i>
                        <input type="text" name="title" id="editTitle" class="form-control"  />

                    </div>
                    <div class="form-group">
                        <input type="checkbox" name="showTitle" id="showTitle" class="" value="1" /> 
                        <i>Zaznacz jeśli tytuł bloku na być widoczny</i>


                    </div>


                    <div class="form-group">
                        <i>Tekst</i>
                        <textarea class="form-control " id="editText" name="text" style="resize: none;height: 300px;"></textarea>
                    </div>
                    <input type="submit" name="submit" value="Zapisz" /> <a class="btn btn-sm btn-danger" id="delCont" href="">Usuń</a>
                </form>
            </div>
        </div>
    </div>
    
</div>
<script>
    $('#btnContent').click(function(){
        if($('#selMenu').prop('selected', true).val().length > 0) 
        {
            $('#new').hide();
            $('#edit').show();
            var id = $('#selMenu').prop('selected', true).val();
            //window.location = "<?= URL; ?>/admin/block/edit/" + $(id).val();
            $.ajax({
                url: "<?= URL; ?>/admin/block/edit/" + id,
                type: "get",
                dataType: 'json',
                success:function(request){
                    var data = request.data;
                    if(request.status === 1){
                        $('#editId').val(data.id);
                        $('#editTitle').val(data.title);
                        if(data.showTitle === '1')
                        {
                            $('#showTitle').prop('checked', true);
                        } else {
                            $('#showTitle').prop('checked', false);
                        }
                        $('#editText').val(data.text);
                        $('#delCont').attr('href', "<?=URL;?>/admin/block/delete/" + data.id);
                    }
                }
            });
        } else {
            $('#edit').hide();
            $('#new').show();
        }
    });
</script>
<script>
    $('a#menu-edit').click(function(event){
        event.preventDefault();
        var href = $(this).attr('href');
        $(href).slideToggle(200);
        if($(this).hasClass('fa-caret-down'))
        {
            $(this).removeClass('fa-caret-down').addClass('fa-caret-up');
        } else if($(this).hasClass('fa-caret-up'))
        {
            $(this).removeClass('fa-caret-up').addClass('fa-caret-down');
        }
        
    });
</script>
<script>
    //alert('sadf');
    $('.sort input:radio').each(function(){
        
        if($(this).prop('checked') === true)
        {
            var id = $(this).attr('id');

            $(id).show();
        }
        
    });
    $('input:radio').click(function(){
        var s = $(this).attr('id');
        var name = $(this).attr('name');
        $('input[name="'+ name+'"]').each(function(){
            if($(this).prop('checked') === false)
            {
                var t = $(this).attr('id');
                $(t).hide();
            }
        });
        $(s).show();
    });
</script>