/* style dla formularza logowania */

.login-form {

	font-family: 'Roboto', sans-serif;
	margin: 25px 19%;
	width: 68%;
	color: rgb(110, 60, 60);
	font-size: 36px;
	line-height: 25px;
	text-align: center;
	border-radius: 10px;
	border: solid 1px rgb(110, 60, 60);
}

.login-form header p {
	font-size: 34px;
	color: #9d0b0e;
	margin-top: 40px;
}

.login-form #line {

	margin: 5px 0px;
	height: 1px;
	width: 399px;
	margin-right: auto;
	margin-left: auto;
	background-color: #9d0b0e;	
	margin-bottom: 20px;
}

.login-form #form-body {
	/*padding: 0px 176px;*/
}

.login-form #form-body p {
	margin-top: 1px;
	font-size: 15px;
}

.login-form #form-body p:nth-child(odd){
	text-align: left;
	padding-left: 98px
}

.login-form #form-body p:last-child{
	text-align: center;
	padding-left: 0px;
}

.login-form input {
	width: 400px;
	height: 25px;
}

.login-form input[type=submit] {
	margin: 10px 0px 10px 312px;
	height: 25px;
	width: 90px;
	border-radius: 10px;
	border: solid 1px rgb(150, 138, 138);	
}
	
table.demo-announcement{
	margin: 10px 120px;
	width: 206px;
	float: right;
	font-size: 10px;
	
}

table.demo-announcement tr {
	height: 15px;
}

table.demo-announcement tr td:nth-child(odd) {
	padding-left: 100px;
}

table.demo-announcement tr td:nth-child(even) {
	padding-left: 25px;
}

/* table.demo-announcement tr td {
	padding-left:0px;
	width: 50%;
} */

table.demo-announcement tr:first-child td {
	padding-left:0px;
	padding-right: 0px;
	width: 100%;
	/* padding-bottom: 10px; */
}


h3{
	color: red;
	float: right;
}

/* koniec style dla formularza logowania */