ul#tabs a:focus{
	outline: none;
}

.tab-content
{
	margin: 15px 0px 0px 25px;
}

.page-tabs{
	
	border-bottom: solid 1px #c4c4c4;
	width: auto;
	height: auto;
	margin: 5px 0;
	position: relative;
	z-index: 0;
}

.page-tabs li{
	
	background-color: #c4c4c4 !important;
	border-right: solid 1px #a8a8a8;
	height: auto;
	margin-bottom: -1px;
}

.page-tabs li:last-child{
	border-right: solid 1px #c4c4c4;
}


.page-tabs li a:hover,
.page-tabs li a:focus,
.page-tabs li a:active 
{
	background-color: #d7d7d7 !important;
	/*border-right: 1px solid red !important;*/
	border-right: solid 1px #c4c4c4 !important;
	border-left: solid 1px #d7d7d7 !important;
}

.nav-tabs > li.active > a{
	
	background-color: #d7d7d7 !important;
	border-right: solid 1px #c4c4c4 !important;
	border-left: solid 1px #d7d7d7 !important;	
}

.page-tabs li a{

    margin-right: -1px;
    margin-bottom: 0px;
		border: 0px !important;
		border-right: 1px solid transparent !important;
		border-left: 1px solid transparent !important;
    line-height: 40px;
    border-radius: 4px 4px 0 0;
    text-align: center;
    /* color: #000000 !important;*/
    color: #000000;
    font-size: 14px;
    font-weight: bold;
    text-decoration: none;
    padding: 0px 20px;
    height: 100%;
}
