 /* klasa dla elementów formularzy */ 
 
 .itemForm
{
	/*display: block;*/
	padding-bottom: 10px;
	display: table;
}

 .itemForm > *
{
	display: table-cell;
	width: auto;
}
/*
.itemForm div{
	background: transparent;
	box-shadow: none;
} */


.small{
	width: 25% !important;
}

.medium{
	width: 40% !important;
}

.large{
	width: 85% !important;
}

.full{
	width: 100% !important;
}

[class*="cols-"] > *{
	display: table-cell !important;
	/*color: red;*/
	/*padding-top: 10px;*/
	vertical-align: top !important;
}

.cols-1 > * :first-child,
.cols-1 > * :last-child {
	max-width: 100%;
	min-width: 100%;
}

.cols-2 > *:nth-child(1) {
	width: 50%;
}

.cols-3 > *:nth-child(1){
	width: 33%;
}

.cols-4 > *:nth-child(1){
	width: 25%;
}

.cols-2 > *:nth-child(n+2),
.cols-3 > *:nth-child(n+2),
.cols-4 > *:nth-child(n+2){
	width: auto;
}
.cols-2 > *:last-child,
.cols-3 > *:last-child,
.cols-4 > *:last-child{
	width: 100%;
}

#lokalizacja-projektu [class~="cols-2"] > *:nth-child(1){
	width: 29%;
	max-width: 29%;
}

#lokalizacja-projektu .btnAdd{
	margin-top: 15px;
  margin-left: 0px;
  display: inline-block;
}

#wnioskodawca [class*="cols-2"] > *:nth-child(1){
	
	width: 29%;
	max-width: 29%;
}

#dzialalnosc #contact-details label{
	width: 30%;
	max-width: 30%;
}

#dzialalnosc  label {
	padding-top: 0px;
}

#dzialalnosc  label > input{
	width: 40% !important;
}

#dzialalnosc .itemForm.split-elements{
	border-spacing: 5px 5px !important;
}
/*
#inf-ogolne-tab4  label {
	width: 25% !important;
}

#inf-ogolne-tab4 .itemForm{
	border-spacing: 5px 1px !important;
}

#inf-ogolne-tab4 [class*="cols-"] > *
{
	padding-top: 0px !important;
}
*/
.indent 
{
	text-indent: 30px;
}
 .itemForm label 
{
	font-size: 18px;
	line-height: 20px;
	/*width: 300px; */
	padding-right: 20px;
	font-weight: bold;
	word-wrap:break-word;
	display: inline-block;

}
.itemForm.split-elements
{
	border-spacing: 10px 0px !important;
}

/*
#udzialowcy > .itemForm 
{
	border-spacing: 3px 5px !important;
} */

#udzialowcy > .itemForm > *:nth-child(2)
{
	width: 22% !important;
}

#udzialowcy > .itemForm > *:nth-child(n+2)
{
	width: 20%;
}

.itemForm.udzialowcy > *:nth-child(2)
{
	/*width: 25% !important;
	margin-left: -4px; */
}

.itemForm.udzialowcy > *:nth-child(n+3)
{
	/*width: 20% !important;*/
}

/*.itemForm#wsp-mal-ost-2-okresy > label:nth-type-of(1){
	padding-top: 55px;
}*/

.itemForm#wsp-mal-ost-2-okresy{
	width: 105%
}

.itemForm#wsp-mal-ost-2-okresy  > * {
	padding-top: 0px;
}

.itemForm#wsp-mal-ost-2-okresy  > label:nth-of-type(1){
	padding-top: 50px;
}

.itemForm#wsp-mal-ost-2-okresy > .inputsContent:nth-of-type(2){
	margin-left: 32px;
}
/*.itemForm#wsp-mal-ost-2-okresy > .inputsContent > label:nth-of-type(3){
	font-size: 16px;
}
*/
/*.itemForm.udzialowcy > div:nth-of-type(3)
{
	width: 20% !important;
} */


/*
.itemForm#udzialowcy ,
.itemForm#udzialowcy  + .itemForm  > *:nth-child(2) {
	
	width: 20% !important;
	margin-left: -4px;
}

.itemForm#udzialowcy ,
.itemForm#udzialowcy  + .itemForm  > *:nth-child(3) {
	
	width: 20% !important;
}

.itemForm#udzialowcy ,
.itemForm#udzialowcy  + .itemForm  > *:nth-child(4) {
	
	width: 20% !important;
}
*/
.clearfloat
{
	clear:both;
	height: 1px;
	line-height:0px;
}
 .itemForm input
{
	width: 100%;
	padding-right: 15px;
	margin-left: 0px;
	border-radius: 10px;
	border-width: 0px;	
	vertical-align: middle;
	line-height: 14px;
	height: 32px;
	text-indent: 20px;

}
 .itemForm .big /* klasa dla inputów po całej szerokości formularza */
{
	border-radius: 16px;
	margin-left: 0px;
	border-width: 0px;	
	line-height: 14px;
	padding: 10px 15px;
	resize: none;
	width: 100%;
}
 .itemForm .middle 
{
	height:45px;
	border-radius: 14px;
	vertical-align:super;
}
 .itemForm .check 
{
	height:45px;
	margin-left: 0px;
	border-bottom: solid 1px #cecece;
	border-top: solid 1px #cecece;
	display: inline-block;
	padding-bottom:0px;
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
	vertical-align: middle !important;
}
/* .itemForm .small 
{
	width: 172px;
	padding-right: 8px;
} */
 .itemForm .smallFirst
{
	width: 380px;
	padding-right: 0px;
}
 .itemForm .disabl /* klasa dla pól tekstowych formularza */
{
	width: auto;
	display: inline-block;	
	vertical-align:middle;
	line-height: 18px;
	padding-bottom: 7px;
	padding-top: 7px;
	box-shadow: 2px 4px 4px 0px #a0a0a0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background-color: #c6c6c6;
}
 .itemForm .disabl p
{	
	line-height: 21px;
	text-align: left;
	/*font-size: 18px;*/
	font-weight: normal;
	padding-top: 10px;
	padding-bottom: 10px;
	word-wrap:break-word;
}

.itemForm .large
{
	width: 95%;
  text-align: left;
	padding-left:10px;
	padding-right: 15px;
	text-indent: 0px;
}

.itemForm .check .checkbutton {  
    display: inline; 
    border: none;
    line-height: 20px;
    margin-left: 0;
		width: 60px;
		height: 20px;
		margin: -1px 0 0
}

.itemForm .check .labelRadio
{
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;
}
.inputsContent   /* -- otoczka dla inputów  ---*/
{
	margin-left: 0px;	
	display: inline-block;
    width: 29% !important;
}
.labelContent
{
	margin-left: 0px;	
	vertical-align:0%;
	display: inline-block;
	width: 280px;
	padding: 5px 10px;
}
.itemForm .inputsContent label
{
	font-size: 18px;
	line-height: 40px;
	width: auto;
	padding-right: 10px;
	padding-left: 8px;
	font-weight: bold;
	word-wrap:break-word;
	text-align: right;
}

.itemForm .inputsContent > input
{
	float: right;
}

/*
.itemForm .inputsContent:nth-child(2) label,
.itemForm .inputsContent:nth-child(3) label,
.itemForm .inputsContent:nth-child(4) label
{
	width: 210px;
	text-align: right;
}
*/
.itemForm .inputsContent > label
{
	width: auto;
	
}

.itemForm table 
{
	border:none;
	padding:0px;
	position: relative;
	left: 0px;	
}
.itemForm table tr th 
{
	/*width: 280px;*/
	height: 90px;
	line-height: 18px;
	padding-bottom: 7px;
	padding-top: 7px;
	box-shadow: 2px 4px 4px 0px #a0a0a0;
	text-align: center;
	font-size: 18px;
	font-weight: bold;
	background-color: #c6c6c6;
}
 .itemForm table tr td label
{
	/*width: 194px;*/
}
.itemForm table tr th:first-child 
{
	/*width: 235px;*/
}
/*.content .itemForm .headerTable p
{
	line-height: 18px;
	font-size: 16px;
	font-weight: bold;
	display:table-cell;
	vertical-align: middle;
}*/
.itemForm table tr td
{
	vertical-align: middle;
}
.itemForm table tr td textarea 
{
	border-radius: 6px;
	width: 250px;
	border-width: 0px;	
	line-height: 14px;
	padding: 10px 15px 9px 15px;
	margin-top: 3px;
	resize: none;
	overflow:hidden;
	font-family: Calibri, sans-serif;
	font-size: 14px;
}
 .itemForm table tr td input
{
	margin: 5px 0px;
	border-radius: 6px;
	border-width: 0px;	
	line-height: 14px;
	height: 24px;
	 
	text-indent: 20px;
	width: 210px;
	padding-right: 4px;
}
.next,   
.more	/*---- klasa na potrzeby powielania rekordów tabeli, strowana z jquery */
{
	cursor: pointer;
}
.itemForm .offer .rowNext,
.itemForm .offer .rowNext td
{
	height: 1px;
	position: relative;
	top: 0px;		
}
 .itemForm .offer .rowNext td span
{
	line-height: 30px;
	display:block;
	position: relative;
	top: -30px;
	margin-top: 0px;
	width: 100%;
	font-weight:bold;
	cursor: pointer;
	text-align: left;
	left: 15px;	
}

.itemForm table tr td:first-child
{
	/*width:240px;*/
}

 .itemForm table tr td .labelIninput
{
	display: block;
    left: 5px;
    line-height: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: 17px;
    width: 16px;
    z-index: 30
}
 .itemForm table tr td .labelIninput + input 
{
	height:87px;
	width: 224px;
	margin-top:7px;
}
					/* --tabela offer-- */
.itemForm .offer tr,
.itemForm .offer tr td
{
	height:24px;
}
.itemForm .offer tr th 
{
	width: 130px;
	height: 20px;
	line-height: 18px;
	padding-bottom: 7px;
	padding-top: 7px;
	box-shadow: 2px 4px 4px 0px #a0a0a0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #c6c6c6;
}
 .itemForm .offer tr td input
{
	height: 28px;
	margin-bottom: 0px;
	margin-top: 1px;
	padding-right: 35px;
    width: 95px;
}
 .itemForm .offer tr td:first-child
{
	width: 320px;
}
 .itemForm .offer tr td:last-child
{
	width: 346px;
}
 .itemForm .offer tr td label
{
	display: block;
    left: 12px;
    line-height: 0;
    padding-left: 0;
    padding-right: 0;
    position: relative;
    top: 14px;
    width: 26px;
    z-index: 30
}
 .itemForm .offer tr td:first-child input
{
	width:  251px;
	float: right;
	padding: 1px 20px;
}
 .itemForm .offer tr td:last-child input
{
	width: 342px;
	padding: 1px 20px;
}
 .itemForm .offer tr td span 
{
	text-align: right;
	width: 8px;
	line-height: 14px;
	position: relative;
	left: 102px;
	top: -22px;
	z-index: 30;
	margin-top: 0px;
	display: block;
	height: 1px;
}
.note 
{
	font-size: 14px;
	line-height: 20px;
	padding-left: 0px;
	font-style:italic;
	padding-bottom: 20px;
}
/*------*/
 .itemForm .contentRadio 
{
	height:35px;
	width:100%;
	margin-left: 0px;
	display: inline-block;
	padding-bottom:0px;
	padding-top: 5px;
	font-size: 18px;
	font-weight: bold;
	text-transform: uppercase;		
}
 .itemForm .contentRadio input 
{
	width: 20px;
	margin: 0px  0px 0px 20px;
	padding: 0px;
}
						/* --tabela rival-- */
 .itemForm .rival tr td label
{
    margin-bottom: 6px;
    margin-top: 9px;
}
						/* --tabela employ-- */
.itemForm .employ tr td,
.itemForm .employ tr th 
{
	width: 130px;
	line-height: 18px;
}
 .itemForm .employ tr td input
{
	width: 110px;
	height: 28px;
}
 .itemForm .employ tr td:first-child
{
	width: 520px;
}
 .itemForm .employ tr td textarea 
{
	width: 152px;
	font-family: Calibri, sans-serif;
}
 .itemForm .employ tr td label
{
	width: 500px;
}
						/* -- table finase ---*/
.itemForm .finans tr,
.itemForm .finans tr td
{
	height:30px;
}
 .itemForm .finans tr th
{
	width: 50px;
	line-height: 18px;
	padding-bottom: 0px;
	padding-top: 0px;
	box-shadow: 2px 4px 4px 0px #a0a0a0;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background-color: #c6c6c6;
	height: 100%;
	margin: 0px;
}
 .itemForm .finans tr td input
{
	width: 50px;
	height: 28px;
	padding-right: 20px;
	margin-bottom: 0px;
	margin-top: 1px;
}
 .itemForm .finans tr td label
{
    width: 100%;
}
 .itemForm .finans tr td:first-child,
 .itemForm .finans tr th:first-child
{
	width:100px;
}
 .itemForm .finans tr td.headerCol
{
	text-align: center;
	font-size: 18px;
	line-height: 18px;
}

 .itemForm .finans tr th:last-child
{
	width:900px;
	padding-bottom: 0px;
	padding-top: 0px;
	box-shadow: none;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	background: none;
	margin: 0px;
}
 .itemForm .finans tr th .inside tr th:last-child
{
	box-shadow: 2px 4px 4px 0px #a0a0a0;
	background-color: #c6c6c6;
}
 .itemForm .finans tr .inside
{
	padding: 0px;
	margin:0px;
	box-sizing: border-box;
}
 .itemForm .finans tr .inside tr th
{
	padding: 7px 0px;
	height: 72px;
}
 .itemForm .finans tr .inside tr td:first-child
{
	text-indent: 10px;
}
 .itemForm .finans tr .inside tr td,
 .itemForm .finans tr .inside tr th
{
	width:140px;
}
 .itemForm .finans tr .inside tr td:nth-child(2),
 .itemForm .finans tr .inside tr th:nth-child(2)
{
	width:314px;
}
 .itemForm .finans tr .inside tr td textarea
{
	width: 284px;
}
 .itemForm .finans tr .inside tr td input
{
	width: 120px;
	height: 32px;
}
 .itemForm .finans tr td .rightInput 
{
	positon: relative;
	text-align: right;
	display: block;
	top: 10px;
	right: 0px;
	margin: -26px 0px 0px auto;
	width: 200px;
	padding-right: 36px;
	padding-left: 36px;
}
 .itemForm .finans tr td span 
{
	positon: relative;
	display: block;
	top: 0px;
	right: 0px;
	margin: -23px 10px 0px auto;
	width: 20px;
	z-index: 30;
}
 .itemForm .finans tr td label 
{
	margin-top:10px;
}
/*---list---*/
 .itemForm .disabl ul li
{
	padding-bottom: 0px;
	font-size: 18px;
	list-style: inside none none;
	font-weight:bold;
}
 .itemForm .disabl h1
{
	text-transform: uppercase;
}
 .itemForm .disabl h2
{
	font-weight: bold;
}
 .itemForm .disabl .warning
{
	text-transform: uppercase;
	text-decoration: underline;
}
 .itemForm .disabl .listFinance li
{
	/*list-type:disc;*/
	padding-bottom: 10px;
	font-size: 18px;
	font-weight: normal;
	list-style: inside;
	}
 .itemForm .disabl .listFinance
{
	padding-top: 20px;
	/*list-type:disc;*/
	font-size: 18px;
	font-weight: normal;
	list-style: inside;
	}
 .itemForm .disabl .listFinance li ul
{
	padding-top: 6px;
	padding-left: 30px;
	font-size: 18px;
	font-weight: normal;
	list-style: outside none none;
}
 .itemForm .disabl .listFinance li ul li
{
	padding: 0px;
	font-size: 18px;
	line-height: 22px;
	font-weight: normal;
	list-style: outside none none;
}
							/* ostatnia tabela -oświadczenie  */
 .itemForm .statment
{
	text-align:left;
	border: solid 1px #000;
	width: 900px;
	margin: 20px auto;
	background-color: #ffffff;
}
 .itemForm .statment tr td
{
	border-bottom: solid 1px #000;
	border-right: solid 1px #000;
	width: 50%;
	padding: 3px;
	font-size: 14px;
	font-weight: bold;
	height: 50px;
	vertical-align: baseline; 
}
 .itemForm .statment tr td .small
{
	padding-left: 100px;
}
 .itemForm .statment tr:first-child td
{
	font-size: 24px;
	height: 30px;
	text-transform: uppercase;
}
 .itemForm .statment tr:nth-child(2) td
{
	font-size: 18px;
}
 .itemForm .statment tr:nth-child(3) td
{
	vertical-align: middle;
	text-align:center;
}
 .itemForm .statment tr:nth-child(5) td
{
	text-align:center;
	height: 60px;
	vertical-align: bottom;
}
 .itemForm .statment tr:nth-child(5) td p
{
	margin:0px 10px;
	border-top: dotted 1px #000;
	font-style:italic;
	font-weight:normal;
}

 .itemForm .finance1 tr td,
 .itemForm .finance1 tr th  
{
	padding:0px;
	margin:0px;
	height:24px;
	font-weight: normal;
	line-hight: 12px;
	font-size:12px;
	font-size:12px;
	text-indent: 0px;
	width: 40px;
}
 .itemForm .finance1 tr th .descriptionTab
{
	width: 200px;
}
 .itemForm .finance1 tr td:first-child,
 .itemForm .finance1 tr th.first
{
	width:20px;
}
 .itemForm .finance1 tr td:nth-child(2) 
{
	width:247px;
}
 .itemForm .finance1 .sumRow td
{
	font-weight:bold;
}
 .itemForm .finance1 .sumRow td input[disabled = 'disabled']
{
	background-color: #f0f0f0;
}
 .itemForm .finance1 tr td input 
{
	border-radius: 4px;
	width:63px;
	padding:0px 2px 0px 0px;
	margin:0px;
	font-size:12px;
	text-indent:0px;
	text-align: right;	
}
.separatorRow 
{
	font-color: #5f5f5f;
	font-weight: bold !important;
}