<script type="text/javascript">
      var onloadCallback = function() {
        grecaptcha.render('html_element', {
          'sitekey' : '6LcbYhcUAAAAALuh7GKGkWxw4DGYJuMCdSBBgczV'
          
        });
      };
    </script>
<div>
    <h3>Kontakt</h3>
    <form method="post" action="<?= URL; ?>/contact">
        <div class="form-group">
            <label>Imie</label>
            <input class="form-control" type="text" name="firstname" />
        </div>
        <div class="form-group">
            <label>Email</label>
            <input class="form-control" type="text" name="email" required />
        </div>
        <div class="form-group">
            <label>Temat</label>
            <input class="form-control" type="text" name="subject" required />
<!--            <select class="form-control" name="subject">
                <option>wybierz</option>
                <option>Oferta</option>
                
                <option>Pomoc</option>
                <option>Inny</option>
            </select>-->
        </div>
        <div class="form-group">
            <label>Text</label>
            <textarea class="form-control" style="resize: vertical;width:100%;min-height: 200px;max-height: 400px" name="text"></textarea>
        </div>
        <div class="form-group">
            <center>
                <div id="errCaptcha" class="alert alert-danger"></div>
                <div id="html_element"></div>
            <!--<div class="g-recaptcha" data-sitekey="6LcbYhcUAAAAALuh7GKGkWxw4DGYJuMCdSBBgczV"></div>-->
            </center>
        </div>
        <div class="form-group" >
            <center><input class="btn btn-primary" type="submit" name="submit" id="btnSend" value="Wyślij" /></center>
        </div>
        <!--<script src='https://www.google.com/recaptcha/api.js'></script>-->
        <script src="https://www.google.com/recaptcha/api.js?onload=onloadCallback&render=explicit"
        async defer>
    </script>
    </form>
</div>

<script>
    $('#btnSend').click(function(e){
        var d = $('textarea[name="g-recaptcha-response"]').text();
        //if(d.length == 0 )
        //{
            var p = $('form').serializeArray();
            $.each( p, function( i, field ) {
                
                if(field.name === 'g-recaptcha-response' && field.value.length === 0)
                {
                    $('#errCaptcha').text('Musisz potwierdzić, że jesteś człowiekiem');
                    e.preventDefault();
                }
                
            });
            //alert(p.g-recaptcha-response.length);
            
        //}
    });
</script>