<div class="col-left" >
    <?php if (isset($_SESSION['logged'])): ?>
        <ul class="vertical-menu" id="vmenu">

            <?php
            $menu = $this->menu('ds')->getSMenu();
            foreach ($menu as $k => $v):
                $dd = $v["uri"];
                $ur = trim($_SERVER['REQUEST_URI'],'/');
                $daa = explode('/',$ur);
                $daas = $daa;
                
                if(count($daas) >= 2){
                    unset($daas[1]);
                    unset($daas[2]);
                }
                $ur=implode('/',$daas);
                //echo $dd;
                //echo $dd;
                $dd = explode('/', $dd);
                //if(preg_match("#$ur#", $dd,$out) && count($daa) >= 2) {
				if(in_array($ur, $dd) && $ur != '') {
                    //echo 'sadfsd';
                ?>
                <li class="element" id="<?= $v['parent']; ?>"  >
                    <a href="<?= URL . $v["uri"]; ?>" id="<?= $v["id"]; ?> "><?= $v['name']; ?></a>
                </li>
                <?php } ?>
            <?php endforeach; ?>
            <?php
//        $menu = $this->menu('vertical')->getMenu();
//        foreach($menu as $k=>$v)
//        {
//            
//        }
            ?>
        </ul>
    <?php endif; ?>
    <div style="clear: both"></div>
    <div style="clear: both"></div>
</div>
<div class="col-center" id="page-content" >
<!--    <ul class="menu-bar sub-menu" id="doc-bar" style="display:none">
    <li class="element">
        <a href="<?=URL;?>/doc-gen/info/nowy" class="doc-bar-nowy">
            <div class="ico-container">
                <img src="<?=URL;?>/public/timg/nowy-ico.png" />
            </div>
            Nowy</a>
    </li>
    <li class="element">
        <a href="#">
            <div class="ico-container">
                <img src="<?=URL;?>/public/timg/otworz-ico.png" />
            </div>
            Otwórz</a>
    </li>
    <li class="element">
        <a href="<?=URL;?>/doc-gen/info/otworz" class="doc-bar-otworz">
            <div class="ico-container">
                <img src="<?=URL;?>/public/timg/otworz-ico.png" />
            </div>
            Otwórz</a>
    </li>
   
</ul>-->

    <div class="content">
        <?php //echo '<pre>' . print_r($_SERVER,1) . '</pre>'; ?>
        <?= $this->content ?>
    </div>

</div>


<!--<script>
    
    //$(document).on('live',function () {


//alert('asdf');
        if ($('#myTab li a').hasClass('active')) {

            var id = $('#myTab a.active').attr('id');
            //alert(id);
            $.post(
                //type: "POST",
                "<?= URL; ?>/home/menu",
                {id: id, pos: 'vertical', logs: 'good'},
                //cache: false
                function(data)
                {
                    alert(data);
                    //$('#vmenu').append(data);
                    $('#vmenu a[href="<?php //echo URL . $_SERVER['PATH_INFO']; ?>"]').addClass('active');
                }
            );

        }

        

   // });


</script>-->

<script>
    $(document).ready(function(){
        //id = $('#myTab a.active').attr('id');
        var ff = "<?php echo URL . $_SERVER['PATH_INFO']; ?>";
        if(ff === "<?php echo URL . '/doc-gen'; ?>")
        {
            $('#vmenu li').each(function () {
                
                $(this).hide();
                
            });
        }
        if ($('#myTab a').hasClass('active') === true)
        {

            var id = $('#myTab a.active').attr('id');
            $('#vmenu li').each(function () {
                // alert($(this).attr('id'));
                if ($(this).attr('id') === id)
                {
                    $(this).show();
                }
            });
        }

        $('#vmenu a[href="<?php echo URL . $_SERVER['PATH_INFO']; ?>"]').addClass('active');
        
        if($('#myTab a[href="<?php echo URL . '/doc-gen'; ?>"]').hasClass('active'))
        {
            $('ul#doc-bar').show();
        }


    });
</script>
<?php //echo URL . $_SERVER['PATH_INFO']; ?>