
<div class="col-left">&nbsp; 
<?php if($this->isAllowed('role') == 'admin'):?>
    <a href="<?= URL . $this->url('admin') ?>" class="navbar-link">Administracja</a>

<?php endif; ?>
</div>
<div class="col-center">
    <ul id="myTab">
        
<!--        <li class="element" id="3">
            <a href="<?//= URL . $this->url('document'); ?>" id="1">Generator<br>dokumentów</a>
        </li>
        <li class="element" id="3">
            <a id="3" href="<?//= URL; ?>/conf" >Konfiguracja</a>
        </li>
        <li class="element" id="9">
            <a href="<?//= URL; ?>/archiwum" id="4">Archiwum</a>
        </li>
        <li class="element" id="12">
            <a id="5" href="<?//= URL; ?>/edi" >Edi</a>
        </li>-->
<?php
//echo '<pre>' . print_r($_SERVER,1) . '</pre>';
$menu = $this->menu('ds')->getMenu(0);
foreach($menu as $k =>$v):
    $dd = str_replace('<br>', ' ', $v['name']);
    $da = $this->access();
if($this->isAllowed('role') == 'user')
{
    if(in_array($dd, array_keys($da)) && $da[$dd] == 1):
?>
<li class="element">
    <a href="<?= URL . $v["uri"]; ?>" id="<?= $v["id"];?>"><?= $v['name'];?></a>
</li>
    <?php 
    endif; 
    } else { 
    ?>
<li class="element">
    <a href="<?= URL . $v["uri"]; ?>" id="<?= $v["id"];?>"><?= $v['name'];?></a>
</li>
    <?php 
    }
endforeach; 
?>
        <li class="" id="horizontal-logout">
            
                <table>
                    
                    <tr>
                        <td>Zalogowany jako:</td>
                        <td><a href="<?=URL;?>/profil" style="" class="profiles"><b><?= $this->isAllowed('displayName'); ?></b></a></td>
                    </tr>
                    <tr>
                        <td>Firma:</td>
                        <td><?= $this->isAllowed('firma'); ?></td>
                    </tr>
                    <tr>
                        <td></td>
                    		
                    <td><a href="<?= URL . $this->url('application', [ 'controller' => 'home','action' => 'logout' ]) ?>" class="btn-logout">Wyloguj</a></td>
                    </tr>
                </table>
            
        </li>
    </ul>
    
    <div style="clear: both"></div>	
</div>

<?php 
$path = isset($_SERVER['PATH_INFO'])? $_SERVER['PATH_INFO']:'/';
$path = ltrim($path,'/');
//
if(strpos($path, '/')){
    $pos = strpos($path, '/');
    if( $pos < strlen($path))
{

    $pathi = substr($path, 0, $pos);
}
}
 else {
    $pathi = $path;
}

 ?>
<script>
    
window.onload = function() {
  $('#myTab li a[href="<?php echo URL . '/' . $pathi ; ?>"]').addClass('active');  

//$.ajax({
//    type: "POST",
//    url: "<?//=URL;?>/home/menu",
//    data: {logs:'good'},
//    cache: false,
//    success: function(data)
//    {
//        //alert(html);
//        //$('#myTab').append(data);
//        
//    }
//});
};         
        


</script>

<script>

    jQuery(function () {
    
    //alert();
    
        
        
    });
 </script>
