<!doctype html>
<html class="no-js" lang="pl">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta http-equiv="cache-control" content="no-cache">
        <meta http-equiv="expires" content="Mon, 22 Jul 2002 11:12:01 GMT">
        
        <link href="<?= URL; ?>/public/tcss/1_bootstrap.min.css" rel="stylesheet" type="text/css" />
        <link href="<?= URL; ?>/public/tcss/2_main.css" rel="stylesheet" type="text/css" />
        <link href="<?= URL; ?>/public/tcss/3_menus.css" rel="stylesheet" type="text/css" />
        <link href="<?= URL; ?>/public/tcss/validationEngine.jquery.css" rel="stylesheet" type="text/css" />
        <link href="<?= URL; ?>/public/tcss/login.css" rel="stylesheet" type="text/css" />
        <link href="<?= URL; ?>/public/tcss/tab-forms.css" rel="stylesheet" type="text/css" />
        <link href="<?= URL; ?>/public/tcss/page-tabs.css" rel="stylesheet" type="text/css" />
     

        <?php
        echo $this->js(array('src' => 'jquery-3.1.1.js'));
        //echo $this->metaTitle(array('title' => 'Tytuł testowy'));
        //echo $this->js(array('src' => 'jquery-1.7.1.min.js'));
        echo $this->js(array('src' => 'bootstrap.js'));
        
        //echo $this->js(array('src' => 'bootstrap.min.js'));
        echo $this->js(array('src' => 'my.js'));
        //echo $this->js(array('src' => 'jquery-ui-1.8.18.custom.min.js'));
        //
        //echo $this->css(array('href' => 'style.css'));
        // echo $this->css(array('href' => 'jquery-ui.css'));
        echo $this->css(array('href' => 'datepicker.css'));
        // echo $this->css(array('href' => 'normalize.css'));
        // echo $this->css(array('href' => 'bootstrap.css'));
        // echo $this->css(array('href' => 'bootstrap-theme.css'));
        ?>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script> 
            





    </head>
    <body>

        <?php if($this->isAllowed('logged')){ ?>
        <div class="centered-content">
            
            <div class="menu-bar horizontal-menu">
            
            
                    <?= $header; ?>
            
            </div>
                <?= $content; ?>    	
        </div>	
        <?php }else{ ?>
        <link href="<?= URL; ?>/public/tcss/fatal-error.css" rel="stylesheet" type="text/css" />
                <div class="menu-bar top-bar-wrapper">
   		<div class="centered-content">
   			<div class="fatal-error-top-bar" >
   				<div class="element" >
   					<a href="<?= URL; ?>"><img src="http://testy-b2.iq.pl:80/generator_v2/logo/logo.png" title="B2-Biznes" alt="logo" ></a>
   				</div>
   				<div class="element" >
							<p>Generator Dokumentów<br>Aplikacyjnych</p>
					</div>
   			</div>
   		
   			
   		</div>
   	</div>
        <div style="clear: both"></div>
    
        <div class="content-wrapper" style="width: 100%">
	  	<div class="centered-content fatal-error-content" style="width: 100%">
	  		
	  		<?= $this->content; ?>  
	    	
	  	</div>
	  </div>
        
            <?php } ?>
        <!-- globalny plik zawierajacy skrypty js, wspólny dla wszystkich templatek i modułów -->


<!-- <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script> -->
        <script src="<?= URL; ?>/public/js/bootstrap.min.js"></script>





    </body>

</html>

