<div class="block-contact-clear">
    <?php if(!empty($this->blocks['showTitle'])) { ?>
    <h3 style="margin-bottom: 1em; border-bottom: solid 1px #000;box-shadow:#333 0 1px 0;"><?= $this->blocks['title']; ?></h3>
    <?php } ?>
    
    <p style=""><?= $this->blocks['text']; ?></p>
</div>
