<?php //echo '<pre>' . print_r($this, 1) . '</pre>'; ?>
<?php 

?>

<div class="portfolio">
    <?php foreach($this->datamodul as $k => $v): ?>
    <div class="wrap-portfolio">
        <img class="" src="<?= URL ?>/img/upload/<?= $v['img'] ?>" alt="<?= $v['title']; ?>"/>
        <h2><a href="<?= $v['url'] ?>" rel="dofollow"><?= $v['title'] ?></a></h2>
    </div>
    <?php endforeach; ?>
</div>