<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Motyw <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="active">
                <i class="fa fa-desktop"></i> Motyw
            </li>
        </ol>
    </div>
</div>

<!--<script>
   function pad(n) {
        return (n < 10) ? '0' + n : n;
    }

    function Timer() {
        var dt=new Date()
        $('div#tim').html(pad(dt.getHours())+":"+pad(dt.getMinutes())+":"+pad(dt.getSeconds()));
        
        var delay = 1000 - (dt % 1000);
        setTimeout("Timer()",delay);
    }
    Timer();
</script>-->

<ul id="tabs" class="nav nav-tabs page-tabs" data-tabs="tabs" style="margin-bottom: -2px;">
    <li class="active"><a href="#pages" data-toggle="tab">Motyw Strony</a></li>
    <li ><a href="#admin" data-toggle="tab">Motyw panelu Admina</a></li>
    

</ul>


<div id="my-tab-content" class="tab-content">


    <div class="tab-pane" id="admin" style="">
        <p>&nbsp;</p>

        
        <?php
        $ff = ROOTPATH . 'module/Admin/view/template/';
        foreach ($adm as $k => $v) 
        {
            $g = $ff . $v . '/screen.png';



            //echo '<pre>' . print_r($f , 1) . '</pre>';
            ?>
            <?php
            if (file_exists($g))
            {
                $contents = file_get_contents($g);

                $base64 = base64_encode($contents)
                ?>
                <div style="float:left; width:250px; margin: 10px;">
                    <div>
                        <?php if($admEnable === $v) { ?>
                        <h2><span style="color:green">Ustawiony</span></h2>
                            <?php } ?>
                        <h3><?= ucfirst($v); ?></h3>
                    </div>
                    <div>
                        <img src="data:image/png;base64,<?php echo $base64; ?>" alt="" style="width:250px;height:250px;" />
                    </div>
                    <div>
                        <?php 
                        echo file_get_contents($ff . $v . '/desc.txt');
                        ?>
                    </div>
                    <div>
                        <?php if($admEnable != $v) { ?>
                        <a href="<?= URL;?>/admin/layout/adminTemplate/<?= $k; ?>" class="btn btn-xs btn-danger">Wyłącz</a>
                        <?php } ?>
                    </div>
                </div>

        <?php
            }
        }
?>


    </div>
    <div class="tab-pane active" id="pages" style="">
        <p>&nbsp;</p>

<?php
        $dd = ROOTPATH . 'module/Application/view/template/';
        foreach ($app as $k => $v)
        {
            $g = $dd . $v . '/screen.png';
    ?>
            <?php
            if (file_exists($g)) 
            {
                $contents = file_get_contents($g);

                $base64 = base64_encode($contents)
                ?>
                <div style="float:left; width:250px; margin: 10px;">
                    
                    <div>
                        <?php if($pageEnable === $v) { ?>
                        <h2><span style="color:green">Ustawiony</span></h2>
                            <?php } ?>
                        <h3><?= ucfirst($v); ?></h3>
                    </div>
                    <div>
                        <img src="data:image/png;base64,<?php echo $base64; ?>" alt="" style="width:250px;height:250px;" />
                    </div>
                    <div>
                        <?php 
                        echo file_get_contents($dd . $v . '/desc.txt');
                        ?>
                    </div>
                    <div>
                        <?php if($pageEnable != $v) { ?>
                        <a href="<?= URL;?>/admin/layout/pageTemplate/<?= $k; ?>" class="btn btn-xs btn-danger">Ustaw</a>
                        <?php } ?>
                    </div>
                </div>

        <?php
            }
        }
?>


    </div>
</div>

<script>
    $('ul#tabs li a').click(function (e) {
        e.preventDefault();
    });
</script>