<ul class="block-menu">
<!--    <li>
        <a href="<?= URL; ?>">Home</a>
    </li>-->
    <?php foreach ($this->menus as $key => $value): ?>
        <li>
            <a href="<?php if (empty($value['url'])) {
        echo URL . $this->url('pages', ['slug' => $value['post_slug'], 'action' => $value['post_id']]);
    } else {
        echo $value['url'];
    } ?>" <?php if (!empty($value['url'])) { ?>target="<?php if(!empty($value['target'])){ echo $value['target']; } ?>" <?php } ?> id="<?= $value["id"]; ?>" ><?= $value['name']; ?>
            </a>
        </li>
<?php endforeach; ?>

</ul>
