<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Edycja strony <small></small></h1>
        <ol class="breadcrumb">
            <li class="">
                <i class="fa fa-dashboard"></i> <a href="<?= URL . $this->url('admin'); ?>">Strona główna</a>
            </li>
            <li class="">
                <i class="fa fa-file-text"></i> <a href="<?= URL . $this->url('admin', array('controller' => 'pages')); ?>">Strony</a>
            </li>
            <li class="active">
                <i class="fa fa-edit"></i> Edycja
            </li>
        </ol>
    </div>
</div>

<form action="<?= URL . $this->url('admin', ['controller' => 'posts', 'action' => 'edit', 'param' => $post['id'] ]); ?>" method="post">
    <div class="form-group" style="width:30%">
        <label>Tytuł</label>
        <input class="form-control" type="text" name="title" value="<?= $post['title']; ?>" />
    </div>
    
    
    <div class="form-group">
        <label>Content</label>
        
        <textarea name="content" id="editContent" class="form-control" style="max-width: 100%;max-height: 500px; min-width: 100%; min-height: 400px;"><?= $post['content']; ?></textarea>
    </div>
    <div class="form-group" style="width:30%">
        <label>Url</label>
        <input class="form-control" type="text" name="name" value="<?= $post['name']; ?>" />
    </div>
    
    <div class="form-group" style="width:30%">
        <label>Status</label>
        <select class="form-control" name="status">
            <option value="publish" <?php if($post['status'] == 'publish'){ echo 'selected'; } ?>>Publiczny</option>
            <option value="unpublish" <?php if($post['status'] == 'unpublish'){ echo 'selected'; } ?>>Niepubliczny</option>
        </select>
    </div>
    <div class="form-group">
        <label>Autor</label>
        <select class="form-control" name="author" style="width:30%">
            
            <?php foreach($users as $k=>$user ){ ?>
            <option <?php if($post['author'] === $user['id']) { echo 'selected'; } ?> value="<?= $user['id']; ?>" ><?php if(!empty($user['display_name'])) { echo $user['display_name']; } else { echo $user['login']; } ?></option>
            <?php } ?>
        </select>
    </div>
    <div class="form-group" style="width:50%">
        <label>[Meta - Title]</label>
        <input class="form-control" type="text" name="meta_title" value="<?= $post['meta_title']; ?>" />
    </div>
    <div class="form-group" style="width:50%">
        <label>[Meta - Keywords]</label>
        <input class="form-control" type="text" name="meta_keywords" value="<?= $post['meta_keywords']; ?>" />
    </div>
    <div class="form-group">
        <label>[Meta - Description]</label>
        <textarea name="meta_description" class="form-control noresize" style="height: 100px;width: 50%"><?= $post['meta_description']; ?></textarea>
    </div>
    
    <div>
        <input type="submit" name="submit" value="Zapisz" class="btn btn-default" />
    </div>
</form>

<script>
    $(document).ready(function() {
        
        
    });
</script>